<ul class="space-y-1 {{ if eq .level 1 }}pl-0{{ else }}pl-2{{ end }} list-none" data-level="{{ .level }}">
    {{ range .dir }}
    {{ if and (not .Params.hidden) }}
    <li class="flex flex-col mr-2">
        <!-- Include the LinkItem partial -->
        {{ partial "navigation/link-item.html" (dict "page" . "current" $.current "level" $.level) }}
        
        <!-- Check for nested pages and recursively include the Directory partial -->
        {{ if .Pages }}
            <div class="nested-content">
                {{ partial "navigation/directory.html" (dict "dir" .Pages "current" $.current "level" (add $.level 1)) }}
            </div>
        {{ end }}
    </li>
    {{ end }}
    {{ end }}
</ul>