<!-- LinkItem Partial -->
<div class="sidebar__item
    {{ if eq .level 1 }}sidebar__item--level-1
    {{ else if eq .level 2 }}sidebar__item--level-2  
    {{ else if eq .level 3 }}sidebar__item--level-3
    {{ else if eq .level 4 }}sidebar__item--level-4
    {{ else }}sidebar__item--level-default{{ end }}">
    
    <a class="sidebar__link {{ if eq .page.RelPermalink .current.RelPermalink }}sidebar__link--active{{ end }}" 
        href="{{ .page.RelPermalink }}" 
        data-level="{{ .level }}" 
        data-current="{{ if eq .page.RelPermalink .current.RelPermalink }}true{{ else }}false{{ end }}" 
        data-parent="{{ .page.Parent.RelPermalink }}" 
        data-section="{{ .page.IsSection }}">
        
        {{ with .page.Params.icon }}
            <img src="{{ printf "icons/light/%s" . | relURL }}" alt="" class="icon sidebar__icon">
        {{ end }}
        
        <span class="sidebar__text">
            {{/* Check if this is an API endpoint page */}}
            {{ if .page.Params.endpoint }}
                {{ $endpoint := .page.Params.endpoint }}
                <div class="api-endpoint-item">
                    <span class="http-method-badge http-method-badge--{{ lower $endpoint.method }}">
                        {{ upper $endpoint.method }}
                    </span>
                    <span class="api-endpoint-path">{{ $endpoint.path }}</span>
                </div>
            {{ else }}
                {{/* Regular page title */}}
                {{ if .page.Title }}
                    {{ .page.Title }}
                {{ else }}
                    {{ path.Base .page | humanize }}
                {{ end }}
            {{ end }}
        </span>
    </a>
    
    {{ if .page.IsSection }}
        <button class="sidebar__expander sidebar__toggle" 
                aria-expanded="false"
                aria-label="Expand {{ .page.Title | default (path.Base .page | humanize) }} section">
            <svg class="sidebar__chevron" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </button>
    {{ end }}
</div>