<nav id="topNav" class="sticky top-0 z-50 py-2 bg-white">
    <div class="max-w-screen-xl 2xl:max-w-screen-2xl mx-auto">
        <div id="topNavItemsContainer" class="flex space-x-2">
            <!-- Logo -->
            <!-- Links -->
            <div id="topNavLinks" class="flex items-center mx-2 space-x-4 text-black transition duration-300 justify-start w-1/3 font-brand-light text-sm">
                <a href="/" aria-label="Home"><img src="/icons/light/home.svg" class="icon w-5" alt="home"></a>
                <a href="/" aria-label="DemoLink1" class="hidden md:block">Link 1</a>
                <a href="/" aria-label="DemoLink2" class="hidden md:block">Link 2</a>
                <!-- Dropdown -->
                <div id="topNavPrimaryDropdown" class="hidden md:block relative group z-50">
                    <a href="/products" aria-label="DemoDropdownLink" class="">Dropdown</a>
                    <div class="absolute left-0 mt-0 w-48 bg-white border border-gray-200 rounded-md overflow-hidden shadow-lg group-hover:block hidden p-1">
                        <a href="/" aria-label="DemoDropdownItemLink">Example</a>
                    </div>
                </div>
            </div>
            <!-- Searchbar -->
            <div id="topNavSearch" class="flex items-center space-x-4 text-xs">
                <input type="search" id="searchInput" class="border rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-brand md:w-96 bg-zinc-100 text-black" placeholder="Search..." aria-label="Search" />
            </div>
            <div id="topNavEnd" class="flex w-1/3 justify-end">
                <!-- Dark Mode -->
                <div class="flex items-center space-x-4">
                    <button id="chatTocToggle" aria-label="Toggle Chat" class="hidden md:block"><img src="/icons/toggle-left.svg" class="w-5" alt="left/right toggle"></button>
                    <button id="darkModeToggle" aria-label="Toggle Darkmode" class=""><img src="/icons/light.svg" class="w-5" alt="sun/moon toggle"></button>
                </div>
            </div>
        </div>
    </div>
</nav>
