@tailwind base;

@layer base {

  /* Global Header Sizes & Thickness */
  h1 {
    @apply text-3xl font-black;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-base font-bold;
  }
  h6 {
    @apply text-sm font-bold;
  }

  /* Global Font Family */
  main {
    @apply font-brand;
  }

  /*  Article Content Styles */ 

  /* Margins */
  #articleContent > *,
  #articleContent .notice p {
    @apply my-3;
  }

  /* Font Color & Thickness */
  #articleContent {
    @apply text-black;
  }

  #articleContent strong {
    @apply font-brand font-semibold;
  }

  /* List Styles */
  #articleContent li li {
    @apply ml-12 py-1;
  }
  #articleContent ul {
    @apply list-disc ml-6;
  }

  /* Handles the anchor placement issue for TOC links */
  #articleContent [id]:target {
    scroll-margin-top: 50px;
  }

  /* Nested Code, Tables, Notices in Ordered Lists*/
  #articleContent ol > li p:first-child {
    @apply inline;
  }
  #articleContent ol > li p:not(:first-child),
  ol > li > section,
  ol > li > div,
  ol > li > table {
    @apply block ml-6 my-4;
  }

  /* Circled Numbers in Ordered Lists */
  #articleContent ol {
    list-style: none;
    counter-reset: item;
  }
  #articleContent ol > li {
    @apply py-2;
    counter-increment: item;
  }
  #articleContent ol > li::before {
    content: counter(item);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    margin-right: 0.5em;
    @apply bg-zinc-200;
  }
  #articleContent li > ol > li::before {
    content: counter(item);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    margin-right: 0.5em;
    @apply bg-zinc-200;
  }
  /* Single Line Code */
  #articleContent code {
    @apply bg-zinc-100 p-1 rounded text-xs font-light;
  }

  /* Syntax Highlighted Code */
  #articleContent pre {
    @apply overflow-x-auto overflow-y-visible;
  }
  #articleContent .highlight pre {
    @apply p-2;
  }
  #articleContent .highlight pre code {
    @apply p-0 bg-transparent !important;
  }
  #articleContent pre code {
    @apply p-0 m-0;
  }

  /* Link Styles */
  #articleContent a {
    @apply text-brand underline;
  }
  #articleContent a:hover {
    @apply text-brand-1 transition duration-300;
  }

  /* Global Table Styles */
  table {
    @apply w-full border-collapse text-sm;
  }
  table th,
  table td {
    @apply p-3 text-left align-top border-t;
  }
  table th {
    @apply bg-black text-white font-semibold;
  }
  table tr:hover {
    @apply bg-zinc-100;
  }

  /* Responsive Tables */
  @media (max-width: 640px) {
    table {
      @apply block;
    }
    table thead {
      @apply hidden;
    }
    table tbody tr {
      @apply block mb-4 shadow-md;
    }
    table tbody tr:last-child {
      @apply mb-0;
    }
    table td {
      @apply flex justify-between p-2;
    }
  }

  #articleContent .notice a {
    @apply text-black underline font-bold;
  }

  .admonition {
    @apply bg-zinc-100 p-4 my-4;
  }

  /* .note, .tip, .caution, .warning {
    @apply bg-zinc-100 p-4 my-4;
  } */

  .admonition-title {
    @apply font-bold;
  }

  /* Dark Theme Overrides */
  .dark .bg-white {
    @apply bg-zinc-900;
  }
  .dark .bg-black {
    @apply bg-zinc-700;
  }
  .dark .bg-zinc-100 {
    @apply bg-zinc-800;
  }
  .dark .bg-zinc-200 {
    @apply bg-zinc-700;
  }
  .dark .text-black {
    @apply text-white;
  }
  .dark .text-zinc {
    @apply text-white;
  }
  .dark .text-zinc-900 {
    @apply text-zinc-200;
  }
  .dark .notice {
    box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.2);
  }
}

@tailwind components;
@tailwind utilities;
