{{ $type := .Get 0 | default "info" }}
{{ $title := .Get 1 }}
<div class="notice p-4 mt-2 mb-2 rounded-md shadow-md 
    {{- with $type }}
        {{if eq . "danger" }} bg-brand-7
        {{else if eq . "warning" }} bg-brand-6
        {{else if eq . "security" }} bg-brand-5
        {{else if eq . "tip" }} bg-brand-4
        {{else if eq . "note" }} bg-brand-3 
        {{else if eq . "info" }} bg-brand-2 
        {{else if eq . "snack" }} bg-brand-1 
        {{ end }}
    {{- end }}
">
    <div class="flex">
        <div class="flex-shrink-0">
           <img src="/icons/
            {{- with $type}}
                {{- if eq . "danger" -}} notice/danger
                {{- else if eq . "warning" -}} notice/warning
                {{- else if eq . "security" -}} notice/security
                {{- else if eq . "info" -}} notice/info
                {{- else if eq . "note" -}} notice/note
                {{- else if eq . "tip" -}} notice/tip 
                {{- else if eq . "snack" -}} notice/snack 
                {{- end -}}
            {{- end -}}
           .svg">
        </div>
        <div class="ml-3 w-full text-black text-sm">
            {{- if $title -}}
            <div class="font-brand-bold mb-2">{{ $title }}</div>
            {{- end -}}
            {{- .Inner | markdownify }}
        </div>
    </div>
</div>