/* Rubik Black Italic */
@font-face {
  font-family: 'RubikBlackItalic';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/Rubik-BlackItalic.ttf') format('truetype');
}

/* Rubik Extra Bold Italic */
@font-face {
  font-family: 'RubikExtraBoldItalic';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
}

/* Rubik Bold Italic */
@font-face {
  font-family: 'RubikBoldItalic';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/Rubik-BoldItalic.ttf') format('truetype');
}

/* Rubik Semi-Bold Italic */
@font-face {
  font-family: 'RubikSemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
}

/* Rubik Medium Italic */
@font-face {
  font-family: 'RubikMediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Rubik-MediumItalic.ttf') format('truetype');
}

/* Rubik Italic */
@font-face {
  font-family: 'RubikItalic';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/Rubik-Italic.ttf') format('truetype');
}

/* Rubik Light Italic */
@font-face {
  font-family: 'RubikLightItalic';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/Rubik-LightItalic.ttf') format('truetype');
}

/* Rubik Black */
@font-face {
  font-family: 'RubikBlack';
  font-weight: 900;
  src: url('/fonts/Rubik-Black.ttf') format('truetype');
}

/* Rubik Extra Bold */
@font-face {
  font-family: 'RubikExtraBold';
  font-weight: 800;
  src: url('/fonts/Rubik-ExtraBold.ttf') format('truetype');
}

/* Rubik Bold */
@font-face {
  font-family: 'RubikBold';
  font-weight: 700;
  src: url('/fonts/Rubik-Bold.ttf') format('truetype');
}

/* Rubik Semi-Bold */
@font-face {
  font-family: 'RubikSemiBold';
  font-weight: 600;
  src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
}

/* Rubik Medium */
@font-face {
  font-family: 'RubikMedium';
  font-weight: 500;
  src: url('/fonts/Rubik-Medium.ttf') format('truetype');
}

/* Rubik Regular */
@font-face {
  font-family: 'RubikRegular';
  font-weight: normal;
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
}

/* Rubik Light */
@font-face {
  font-family: 'RubikLight';
  font-weight: 300;
  src: url('/fonts/Rubik-Light.ttf') format('truetype');
}
