<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="bg-white">
  <header>
    {{- partial "header.html" . -}}
  </header>
  {{- partial "navigation/top.html" . -}}
  <main class="max-w-screen-xl 2xl:max-w-screen-2xl mx-auto flex">
    {{- partial "navigation/sidebar-left.html" . -}}
    <div id="pageContainer" class="w-full lg:w-3/5">
      {{- if eq .Kind "page" -}}{{- partial "article/summarization.html" . -}}{{- end -}}
      {{- if .IsHome}}{{ block "home" . }}{{ end }}{{else}}{{ block "main" . }}{{ end }}{{- end}}
    </div>
    {{- partial "searchResultsContainer.html" . -}}
    {{- partial "navigation/sidebar-right.html" . -}}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
