{{- define "top-bar" -}}
  {{- partial "navigation/topbar/main.html" . -}}
{{- end -}}

{{- define "sidebar-left" -}}
  {{- partial "navigation/sidebar-left.html" . -}}
{{- end -}}

{{- define "breadcrumbs" -}}
  <div class="my-4">
      {{partial "navigation/breadcrumbs.html" . }}
  </div>
{{- end -}}

{{- define "content" -}}
<div class="flex">
{{- partial "navigation/glossary.html" . -}}
  <article id="article-container" class="flex flex-col w-full hide-scrollbar mx-2">
    {{- partial "glossary/entries.html" . -}}
  </article>
</div>
{{- end -}}

{{- define "innerFooter" -}}
{{- end -}}

{{- define "sidebar-right" -}}
  {{- partial "navigation/sidebar-right.html" . -}}
{{- end -}}