{{- define "top-bar" -}}
  {{- partial "navigation/topbar/main.html" . -}}
{{- end -}}

{{- define "sidebar-left" -}}
  {{- partial "navigation/sidebar-left.html" . -}}
{{- end -}}

{{- define "breadcrumbs" -}}
  {{/*  <div class="my-4">
      {{partial "navigation/breadcrumbs.html" . }}
  </div>  */}}
{{- end -}}

{{ define "content" }}
    <div id="articleContent" class="article-content text-text-primary p-4 mx-auto max-w-6xl 2xl:max-w-7xl">
      {{if lt (len .Site.Sections) 1}}
        {{- partial "welcome.html" -}}
      {{- else -}}
      {{ .Content }} 
      {{- end -}}
    </div>
    <div class="p-4 mx-auto max-w-6xl 2xl:max-w-7xl">
      {{- partial "article/tiles.html" . -}}
    </div>
{{ end }}

{{ define "home" }}
  {{- template "content" . -}}
{{ end }}

{{- define "innerFooter" -}}
  {{/*  <div class="p-4">
      {{partial "article/next-prev.html" . }}
  </div>  */}}
{{- end -}}

{{- define "sidebar-right" -}}
  {{- partial "navigation/sidebar-right.html" . -}}
{{- end -}}