{{- define "top-bar" -}}
  {{- partial "navigation/topbar/main.html" . -}}
{{- end -}}

{{- define "sidebar-left" -}}
  {{- partial "navigation/sidebar-left.html" . -}}
{{- end -}}

{{- define "breadcrumbs" -}}
  <div class="my-4">
      {{partial "navigation/breadcrumbs.html" . }}
  </div>
{{- end -}}

{{- define "content" -}}
  <h1 class="">{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}

{{- define "sidebar-right" -}}
  {{- partial "navigation/sidebar-right.html" . -}}
{{- end -}}