:root {
    --primary-gradient-color: #ffffff; 
    --secondary-gradient-color: rgb(138, 193, 149, 0.500); 
    --icon-color: #000000; /* Black */

    /* HPE Brand Colors */

    --color-brand:#8ac195; /*primary color*/
    --color-brand-1:rgba(131, 122, 117, 0.667); /*secondary color*/
    --color-brand-2:#acc18a; /*tertiary color*/
    --color-brand-3:#86a6cf; /*note color*/
    --color-brand-4:#ADD9F4; /*tip color */
    --color-brand-5:#dbd985; /*security color */
    --color-brand-6:#d4ac84; /*warning color */
    --color-brand-7:#F3B3A6; /*danger color */
}

.dark {
    --primary-gradient-color: rgb(138, 193, 149, 0.300); /* Change this to your dark mode color */
    --secondary-gradient-color: #202020; /* Change this to your dark mode color */
    --icon-color: #ffffff; /* Change this to your dark mode color */
}

 #articleContent [id]:target {
    scroll-margin-top: 50px;
}