
{{if .Site.Params.topNav.globalLinks.display}}
{{- range .Site.Params.topNav.globalLinks.links -}}
<a href="{{ .url | relURL }}" aria-label="{{.title}}" class="nav-link">{{.title}}</a>
{{- end -}}
{{- end -}}

{{if .Site.Params.topNav.dropdown.display}}
<div class="relative group z-50">
    <a href="{{ .Site.Params.topNav.dropdown.url | relURL }}" aria-label="{{.Site.Params.topNav.dropdown.name}}" class="nav-link">{{.Site.Params.topNav.dropdown.name}}</a>
    <div class="dropdown">
        {{- range .Site.Params.topNav.dropdown.links -}}
        <a href="{{ .url | relURL }}" aria-label="{{.name}}" class="dropdown-link">{{.name}}</a>
        {{- end -}}
    </div>
</div>
{{- end -}}
