<nav id="topNav" class="topbar" data-component="navigation-topbar">
    <div class="p-2 mx-auto">
        <div id="topNavItemsContainer" class="flex">
            <!-- Logo -->
            {{- partial "navigation/topbar/logo.html" . -}}
            <!-- Links -->
            {{- partial "navigation/topbar/links.html" . -}}
            <!-- Searchbar -->
            {{- partial "navigation/topbar/search.html" . -}}
            <div id="topNavEnd" class="flex w-1/3 justify-end">
                <!-- Navigation Controls -->
                <div class="flex items-center space-x-4">
                    <!-- Language Switcher -->
                    {{- partial "navigation/language-switcher.html" . -}}
                    
                    <!-- Chat/TOC Toggle -->
                    <button id="chatTocToggle" aria-label="Toggle Chat" class="toggle-btn hidden md:block">
                        <img id="chatRob" src="/icons/robot.svg" alt="toggle" class="hidden" title="Chat Panel">
                        <img id="chatToc" src="/icons/toc.svg" alt="toggle" class="hidden" title="TOC Panel">
                    </button>
                    
                    <!-- Dark Mode Toggle -->
                    <button id="darkModeToggle" aria-label="Toggle Darkmode" class="toggle-btn">
                        <img id="moon" src="/icons/dark.svg" alt="moon" class="hidden" title="Dark Mode">
                        <img id="sun" src="/icons/light.svg" alt="sun" class="hidden" title="Light Mode">
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>