<nav id="topNav" class="topbar" data-component="navigation-topbar">
    <!-- Logo Area -->
    <div class="topbar__logo">
        {{- partial "navigation/topbar/logo.html" . -}}
    </div>
    
    <!-- Navigation Links Area -->
    <div class="topbar__navigation">
        {{- partial "navigation/topbar/links.html" . -}}
    </div>
    
    <!-- Search Area -->
    <div class="topbar__search">
        {{- partial "navigation/topbar/search.html" . -}}
    </div>
    
    <!-- Controls Area -->
    <div class="topbar__controls">
        {{- partial "navigation/language-switcher.html" . -}}
        
        <button id="chatTocToggle" aria-label="Toggle Chat" class="topbar__button">
            <img id="chatRob" src="/icons/robot.svg" alt="toggle" class="hidden" title="Chat Panel">
            <img id="chatToc" src="/icons/toc.svg" alt="toggle" class="hidden" title="TOC Panel">
        </button>
        
        <button id="darkModeToggle" aria-label="Toggle Darkmode" class="topbar__button">
            <img id="moon" src="/icons/dark.svg" alt="moon" class="hidden" title="Dark Mode">
            <img id="sun" src="/icons/light.svg" alt="sun" class="hidden" title="Light Mode">
        </button>
    </div>
</nav>