openapi: 3.0.0
info:
  version: 1.0.1
  title: Bolt API Reference
  description: |
    Postman Collection:

    [![](https://run.pstmn.io/button.svg)](https://god.gw.postman.com/run-collection/9136127-55d2bde1-a248-473f-95b5-64cfd02fb445?action=collection%2Ffork&collection-url=entityId%3D9136127-55d2bde1-a248-473f-95b5-64cfd02fb445%26entityType%3Dcollection%26workspaceId%3D78beee89-4238-4c5f-bd1f-7e98978744b4#?env%5BBolt%20Sandbox%20Environment%5D=W3sia2V5IjoiYXBpX2Jhc2VfdXJsIiwidmFsdWUiOiJodHRwczovL2FwaS1zYW5kYm94LmJvbHQuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6InRrX2Jhc2UiLCJ2YWx1ZSI6Imh0dHBzOi8vc2FuZGJveC5ib2x0dGsuY29tIiwidHlwZSI6ImRlZmF1bHQiLCJlbmFibGVkIjp0cnVlfSx7ImtleSI6ImFwaV9rZXkiLCJ2YWx1ZSI6IjxyZXBsYWNlIHdpdGggeW91ciBCb2x0IFNhbmRib3ggQVBJIGtleT4iLCJ0eXBlIjoic2VjcmV0IiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJwdWJsaXNoYWJsZV9rZXkiLCJ2YWx1ZSI6IjxyZXBsYWNlIHdpdGggeW91ciBCb2x0IFNhbmRib3ggcHVibGlzaGFibGUga2V5PiIsInR5cGUiOiJkZWZhdWx0IiwiZW5hYmxlZCI6dHJ1ZX0seyJrZXkiOiJkaXZpc2lvbl9pZCIsInZhbHVlIjoiPHJlcGxhY2Ugd2l0aCB5b3VyIEJvbHQgU2FuZGJveCBwdWJsaWMgZGl2aXNpb24gSUQ+IiwidHlwZSI6ImRlZmF1bHQiLCJlbmFibGVkIjp0cnVlfV0=)

    ## About
     A comprehensive Bolt API reference for interacting with Transactions, Orders, Product Catalog, Configuration, Testing, and much more.

     Note: You must also reference the [Merchant Callback API](/api-merchant) when building a managed checkout custom cart integration
tags:
  - name: Webhooks
    description: |
      Set up webhooks to notify your backend of events within Bolt. These webhooks can communicate with your OMS or other systems to keep them up to date with Bolt. See our related guide on [Webhooks](https://help.bolt.com/get-started/during-checkout/webhooks/).
  - name: Testing
    description: |
      The testing endpoint allows you to test various functionality within Bolt. Create a test credit card to process a test payment in your store. You can also simulate tracking an order’s shipment and programmatically create customer accounts to use as dummy data. See our related guide on [Testing](https://help.bolt.com/developers/production-readiness-guides/test-cards/).
  - name: Products
    description: |
      Products within Bolt represent the products on your ecommerce server or store. Use this resource to create products and retrieve the Bolt product catalog. You can also create a store using this resource.
  - name: OAuth
    description: |
      Use this endpoint to retrieve an OAuth token. Use the token to allow your ecommerce server to make calls to the Account endpoint and create a one-click checkout experience for shoppers. See related guide [Fetch OAuth Token](https://help.bolt.com/products/accounts/direct-api/oauth-guide/).
  - name: Account
    description: |
      Use the Account endpoint to view and manage customer accounts. Perform actions such as creating an account, updating an address, or adding a payment method. This endpoint is for merchants using the Accounts Package. See our related guide on [Bolt OAuth](https://help.bolt.com/developers/bolt-oauth/).
  - name: Payments
    description: |
      Use the Payments API to tokenize and process alternative payment methods with Bolt. This API is for the Bolt Accounts package. See our related guide on [PayPal for Accounts Implementation](https://help.bolt.com/products/accounts/direct-api/paypal-embedded/).
  - name: Configuration
    description: |
      Use this resource to retrieve and set Merchant Callback URLs. Bolt uses these URLs to exchange information with your commerce server. See our related guide [About the Merchant Callback API](https://help.bolt.com/products/checkout/custom-cart-guides/how-to-integrate/merchant-api/).   
  - name: Orders
    description: |
      Use the Orders API to interact with the customer's cart throughout the checkout process. Pre-checkout, perform actions such as validating inventory, verifying discounts, and calculating taxes. Post-checkout, share shipping information so your customer can track their order. You'll interact with the [Merchant API](https://help.bolt.com/api-merchant/) to keep the servers in sync with any changes the customer makes to their cart. See our related guide [Create a Bolt Order Token](https://help.bolt.com/products/checkout/custom-cart-guides/how-to-integrate/create-bolt-order-token/).
  - name: Statements
    description: |
      [Statements](/merchants/references/financials/statements/) are available in the Merchant Dashboard for merchants who use Bolt Payments as their processor. Merchants using other processors do not receive these statements.
  - name: Transactions
    description: |
      Use the Transactions endpoint to authorize payments when the shopper checks out and handle post authorization actions such as captures and refunds. You can use a shopper's existing saved payment information or tokenize new payment information with the [Bolt Tokenizer](https://help.bolt.com/api-tokenizer/). Bolt Authorize Transaction types fall into one of three categories: a logged-in shopper checking out with a saved payment method, any type of shopper checking out with a new payment method, and a logged-in shopper checking out with a new payment method. The new payment method will be saved to the shopper's account.
servers:
  - url: 'https://api.bolt.com'
    description: The Production URL (Live Data).
  - url: 'https://api-sandbox.bolt.com'
    description: The Sandbox URL (Test Data).
  - url: 'https://api-staging.bolt.com'
    description: The Staging URL (Staged Data).
components:
  parameters:
    bolt-consumer-shopper-login-device-token:
      description: The Shopper's OAuth Token from their current active session.
      in: header
      name: bolt_consumer_shopper_login_device_token
      required: true
      schema:
        type: string
    bolt_hmac_param:
      description: Bolt sends a signed HMAC for hook verification
      in: header
      name: X-Bolt-Hmac-Sha256
      schema:
        type: string
    bolt_product_id:
      description: Bolt's unique identifier for a given product.
      in: query
      name: bolt_product_id
      required: false
      schema:
        type: string
    code:
      description: A temporary authorization code that must be exchanged for an ID token obtained from Bolt's `/oauth/token` endpoint.
      in: query
      name: code
      required: true
      schema:
        type: string
    cursor:
      description: The url of the next product variant to load when multiple variants are returned and paginated.
      in: query
      name: cursor
      required: false
      schema:
        type: string
    division_id:
      description: 'The unique ID associated to the merchant''s Bolt Account division; Merchants can have different divisions to suit multiple use cases (storefronts, pay-by-link, phone order processing). You can view and switch between these divisions from the Bolt Merchant Dashboard.'
      in: query
      name: division_id
      required: true
      schema:
        type: string
    email:
      description: The shopper's email address is the primary mechanism for detecting an account. You **must** provide either a value for this parameter or for `sha256_email`.
      in: query
      name: email
      required: false
      schema:
        type: string
    idempotency_key:
      description: 'A key created by merchants that ensures `POST` and `PATCH` requests are only performed once. [Read more about Idempotent Requests here](/developers/references/idempotency/).'
      in: header
      name: Idempotency-Key
      required: false
      schema:
        type: string
    limit:
      description: The maximum number of product results returned.
      in: query
      name: limit
      required: false
      schema:
        type: string
    merchant-division-id:
      description: The public ID for a given merchant division of your Bolt account.
      in: query
      name: MerchantDivisionPublicID
      required: true
      schema:
        type: string
    merchant-id:
      description: The public ID of the merchant.
      in: query
      name: MerchantID
      required: false
      schema:
        type: string
    merchant_product_id:
      description: A merchant's unique ID for a given product.
      in: query
      name: merchant_product_id
      schema:
        type: string
    order_id:
      description: The order token associated to the shopper logging into a Bolt Account.
      in: query
      name: order_id
      required: true
      schema:
        type: string
    phone:
      description: The shopper's phone number. Includes country code (e.g. +1); does not include dashes or spaces. Can be used to detect an account instead of `sha256_email` or `email`.
      in: query
      name: phone
      required: false
      schema:
        type: string
    scope:
      description: Set to `openid`.
      in: query
      name: scope
      required: true
      schema:
        type: string
    sha256_email:
      description: The sha256 hash of the shopper's normalized email address can be used to detect an account instead of `email`.
      in: query
      name: sha256_email
      required: false
      schema:
        type: string
    shopper_address_id_path_param:
      description: The ID for an address in the shopper's Address Book.
      in: path
      name: id
      required: true
      schema:
        type: string
    sku:
      description: A product's sku.
      in: query
      name: sku
      required: false
      schema:
        type: string
    state:
      description: A randomly generated 8-character string.
      in: query
      name: state
      required: true
      schema:
        type: string
    transaction_reference_path_param:
      description: This is the Bolt transaction reference. (ex. N7Y3-NFKC-VFRF)
      in: path
      name: REFERENCE
      required: true
      schema:
        type: string
    x-authorization-signature:
      description: Generated signature after using the signing secret and nonce by the publisher.
      in: header
      name: X-Authorization-Signature
      required: true
      schema:
        type: string
    x-publishable-key:
      description: 'The publicly viewable identifier used to identify a merchant division. This key is found in the Developer > API section of the Bolt Merchant Dashboard [RECOMMENDED].'
      in: header
      name: X-Publishable-Key
      required: false
      schema:
        type: string
    x-publisher-key:
      description: Unique identifier for the publisher.
      in: header
      name: X-Publisher-Key
      required: true
      schema:
        type: string
    x_authorization_signature:
      description: Generated signature after using the signing secret and nonce by the publisher.
      in: header
      name: X-Authorization-Signature
      required: true
      schema:
        type: string
    x_nonce_param:
      description: Unique 12-16 digit for a publisher or product catalog request.
      in: header
      name: X-Nonce
      required: true
      schema:
        format: uuid
        type: string
    x_publishable_key:
      description: 'The publicly viewable identifier used to identify a merchant division. This key is found in the Developer > API section of the Bolt Merchant Dashboard [RECOMMENDED].'
      in: header
      name: X-Publishable-Key
      required: false
      schema:
        type: string
    x_publishable_key_required:
      description: The publicly viewable identifier used to identify a merchant division. This key is found in the Developer > API section of the Bolt Merchant Dashboard.
      in: header
      name: X-Publishable-Key
      required: true
      schema:
        type: string
    x_publisher_key:
      description: Unique identifier for the publisher.
      in: header
      name: X-Publisher-Key
      required: true
      schema:
        type: string
  schemas:
    1005_code:
      description: Invalid merchant key.
      example: 1005
      format: int64
      type: integer
    1005_invalid_merchant_key:
      properties:
        code:
          $ref: '#/components/schemas/1005_code'
        message:
          $ref: '#/components/schemas/1005_message'
      type: object
    1005_message:
      description: Authentication error. Invalid merchant key.
      example: Authentication error. Invalid merchant key.
      type: string
    account_details:
      properties:
        addresses:
          description: A list of all addresses associated to the shopper's account.
          items:
            description: The address object returned in the response.
            allOf:
              - $ref: '#/components/schemas/address_view'
              - type: object
                properties:
                  default:
                    description: The default shipping address chosen by the shopper.
                    type: boolean
                  metadata:
                    $ref: '#/components/schemas/profile/properties/metadata'
          type: array
        has_bolt_account:
          description: Used to determine whether a Bolt Account exists with this shopper's account details.
          type: boolean
        payment_methods:
          description: A list of all payment methods associated to the shopper's account.
          items:
            oneOf:
              - $ref: '#/components/schemas/saved_credit_card_view'
              - $ref: '#/components/schemas/saved_paypal_account_view'
          type: array
        profile:
          $ref: '#/components/schemas/profile_view'
      type: object
    account_login_status:
      enum:
        - success
        - failure
      example: success
      type: string
    address:
      description: 'The Address object is used for billing, shipping, and physical store address use cases.'
      properties:
        company:
          description: The company name associated with this address.
          example: Bolt
          maxLength: 1024
          type: string
        country:
          description: The name of the country associated with this address.
          example: United States
          maxLength: 1024
          type: string
        country_code:
          description: The ISO 3166-1 alpha-2 country code associated with this address.
          example: US
          maxLength: 2
          minLength: 2
          type: string
        default:
          description: Whether the added address is now the default address.
          example: true
          type: boolean
        door_code:
          description: The building door code or community gate code.
          example: 123456
          maxLength: 1024
          nullable: true
          type: string
        email:
          description: The email address associated with this address.
          $ref: '#/components/schemas/email'
        first_name:
          description: The given name of the person associated with this address.
          example: Alan
          maxLength: 1024
          type: string
        last_name:
          description: The surname of the person associated with this address.
          example: Watts
          maxLength: 1024
          type: string
        locality:
          description: The city name details associated with this address.
          example: Brooklyn
          maxLength: 1024
          type: string
        name:
          description: The given and surname of the person associated with this address.
          example: Alan Watts
          maxLength: 1024
          type: string
        phone:
          description: The phone number associated with this address.
          $ref: '#/components/schemas/phone'
        postal_code:
          description: The the postal or zip code associated with this address.
          example: '10044'
          maxLength: 32
          type: string
        region:
          description: '**Not Required for NON US addresses**. The region details such as state or province associated with this address.'
          example: NY
          maxLength: 1024
          type: string
        region_code:
          description: |
            The ISO 3166-2 region code associated with this address.
              - * If specified, value must be valid for the `country`.
              - * If null, value is inferred from the `region`.
          example: NY
          maxLength: 1024
          nullable: true
          type: string
        street_address1:
          description: The street number and street name of the address.
          example: 888 main street
          maxLength: 1024
          type: string
        street_address2:
          description: 'Any apartment, floor, or unit details.'
          example: apt 3021
          maxLength: 1024
          type: string
        street_address3:
          description: Any additional street address details.
          example: c/o Alicia Watts
          maxLength: 1024
          nullable: true
          type: string
        street_address4:
          description: Any additional street address details.
          example: Bridge Street Apartment Building B
          maxLength: 1024
          nullable: true
          type: string
      required:
        - street_address1
        - locality
        - region
        - country_code
        - postal_code
        - email
        - first_name
        - last_name
      type: object
    address_account:
      allOf:
        - $ref: '#/components/schemas/address'
        - properties:
            default:
              description: Set this to true to make this the default shipping address. There can be only one address with default set to true.
              type: boolean
            metadata:
              $ref: '#/components/schemas/profile/properties/metadata'
          type: object
      type: object
    address_change:
      properties:
        from_address:
          $ref: '#/components/schemas/consumer_billing_address'
        status:
          $ref: '#/components/schemas/address_change_status'
        ticket_id:
          $ref: '#/components/schemas/address_change_ticket_id'
        timestamp:
          $ref: '#/components/schemas/address_change_timestamp'
        to_address:
          $ref: '#/components/schemas/consumer_billing_address'
      type: object
    address_change_id:
      description: The Unique ID for the change request.
      example: a7sd7f23ghjk5lyt42f
      type: string
    address_change_request_metadata_view:
      properties:
        can_change_shipping_address:
          type: boolean
        id:
          type: string
        status:
          type: string
        ticket_id:
          type: string
        ticket_status:
          type: string
      type: object
    address_change_status:
      description: The status of the request.
      enum:
        - pending
        - cancelled
        - approved
        - rejected
      type: string
    address_change_ticket_id:
      description: The ID of the ticket.
      example: ticket-25
      type: string
    address_change_ticket_status:
      description: The status of the request.
      enum:
        - pending
        - open
        - closed
      type: string
    address_change_timestamp:
      description: The timestamp of the address change request.
      example: 1615407159447
      type: integer
    address_change_view:
      properties:
        from_address:
          $ref: '#/components/schemas/address_view'
        status:
          type: string
        ticket_id:
          type: string
        timestamp:
          format: int64
          type: number
        to_address:
          $ref: '#/components/schemas/address_view'
      type: object
    address_view:
      description: The address object returned in the response.
      properties:
        company:
          description: The company name associated with this address.
          example: Bolt
          type: string
        country:
          description: The name of the country associated with this address.
          example: United States
          type: string
        country_code:
          description: The ISO 3166-1 alpha-2 country code associated with this address.
          example: US
          type: string
        email_address:
          description: The email address associated with this address.
          $ref: '#/components/schemas/email'
        first_name:
          description: The given name of the person associated with this address.
          example: Alan
          type: string
        id:
          description: The unique Bolt ID associated with this address.
          type: string
        last_name:
          description: The surname of the person associated with this address.
          example: Watts
          type: string
        locality:
          description: The city name details associated with this address.
          example: Brooklyn
          type: string
        name:
          description: The given and surname of the person associated with this address.
          example: Alan Watts
          type: string
        phone_number:
          description: The phone number associated with this address.
          $ref: '#/components/schemas/phone'
        postal_code:
          description: The postal or zip code associated with this address.
          example: '10044'
          maxLength: 32
          type: string
        region:
          description: The region details such as state or province associated with this address.
          example: NY
          type: string
        region_code:
          description: The the ISO 3166-2 region code associated with this address.
          example: NY
          nullable: true
          type: string
        street_address1:
          description: The street number and street name of the address.
          example: 888 main street
          type: string
        street_address2:
          description: 'Any apartment, floor, or unit details.'
          example: apt 3021
          type: string
        street_address3:
          description: Any additional street address details.
          example: c/o Alicia Watts
          nullable: true
          type: string
        street_address4:
          description: Any additional street address details.
          example: Bridge Street Apartment Building B
          nullable: true
          type: string
        door_code:
          $ref: '#/components/schemas/address/properties/door_code'
      type: object
    adjust_transaction:
      $ref: '#/components/schemas/transaction_view'
    adjust_transaction_merchant:
      properties:
        created_at:
          $ref: '#/components/schemas/merchant_created_date'
        description:
          $ref: '#/components/schemas/merchant_description'
        operational_processors:
          $ref: '#/components/schemas/transaction_operational_processors'
        processor:
          $ref: '#/components/schemas/transaction_processor'
        public_id:
          $ref: '#/components/schemas/merchant_public_id'
        time_zone:
          $ref: '#/components/schemas/merchant_time_zone'
      required:
        - created_at
        - description
        - processor
        - operational_processors
        - time_zone
      type: object
    adjust_transactions:
      description: |
        **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/transaction_view'
      type: array
    alliance_data_info:
      properties:
        call_id:
          type: string
      required:
        - call_id
      type: object
    amount:
      description: The amount in cents. **Nullable** for Transactions Details.
      example: 754
      type: integer
    amount_view:
      properties:
        amount:
          format: int64
          example: 754
          type: number
        currency:
          example: USD
          type: string
        currency_symbol:
          example: $
          type: string
      type: object
    amounts:
      description: The amount. **Nullable** for Transactions Details.
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
      required:
        - amount
        - currency
        - currency_symbol
      type: object
    auth_rejection_details_view:
      properties:
        reason_code:
          type: string
        reason_description:
          type: string
      required:
        - reason_description
      type: object
    authorization_id:
      description: The authorization's id.
      example: T1c3p4yBuVYJ9
      type: string
    authorization_reason_codes:
      description: The code matching the rejection reason.
      example: code-1234
      type: string
    authorization_reason_description:
      description: The explanation of the reason code.
      example: Card reported stolen
      type: string
    authorization_verification_status:
      description: 'Used to track the status of micro-authorizations. **Nullable** for Transactions Details. '
      enum:
        - new
        - verified
        - failed
        - expired
      example: new
      type: string
    authorize_external_outputs:
      properties:
        commerce_cloud_order_uuid:
          type: string
        shopify_response:
          $ref: '#/components/schemas/hosted_payments_response'
        sfcc_response:
          properties:
            sfcc_order_token:
              type: string
          type: object
      type: object
    auto_approved:
      description: 'If merchant has whitelisted, is `true`.'
      example: false
      type: boolean
    availability:
      description: Determines if the product is available.
      enum:
        - out_of_stock
        - in_stock
        - pre_order
      example: in_stock
      type: string
    availability_count:
      description: How many are in stock.
      example: '19'
      type: integer
    base_cart:
      description: 'The base_cart object contains the core details typically found in most cart objects, including items, discounts, amount totals, shipments, and in-store pickups.'
      properties:
        add_ons:
          items:
            $ref: '#/components/schemas/cart_add_on'
          type: array
        billing_address:
          $ref: '#/components/schemas/address'
        discounts:
          items:
            $ref: '#/components/schemas/cart_discount'
          type: array
        fees:
          items:
            properties:
              reference:
                description: Unique reference used to identify the fee.
                example: ItemFee
                maxLength: 1024
                nullable: false
                type: string
              name:
                description: Name of the fee that will appear in the order ledger.
                example: Item Fee
                maxLength: 1024
                nullable: true
                type: string
              description:
                description: Description of the fee that will appear in the tooltip if the mouse hovers over the fee.
                example: Item Fee
                maxLength: 1024
                nullable: true
                type: string
              unit_price:
                format: int64
                nullable: false
                type: number
              unit_tax_amount:
                format: int64
                nullable: false
                type: number
              quantity:
                format: int64
                nullable: false
                type: number
            required:
              - reference
              - name
              - unit_price
              - unit_tax_amount
              - quantity
            type: object
          type: array
        fulfillments:
          items:
            description: Defines the shipments associated with the cart items.
            properties:
              cart_items:
                items:
                  $ref: '#/components/schemas/cart_item'
                type: array
              cart_shipment:
                $ref: '#/components/schemas/cart_shipment'
              digital_delivery:
                properties:
                  email:
                    type: string
                  phone:
                    type: string
                type: object
              in_store_cart_shipment:
                $ref: '#/components/schemas/in_store_cart_shipment'
              type:
                enum:
                  - physical_door_delivery
                  - physical_ship_to_store
                  - physical_in_store_pickup
                  - digital_download
                  - digital_no_delivery
                type: string
            type: object
          type: array
        in_store_cart_shipments:
          items:
            $ref: '#/components/schemas/in_store_cart_shipment'
          type: array
        items:
          description: The list of items associated with the cart.
          items:
            $ref: '#/components/schemas/cart_item'
          type: array
        loyalty_rewards:
          items:
            $ref: '#/components/schemas/cart_loyalty_rewards'
          type: array
        shipments:
          items:
            $ref: '#/components/schemas/cart_shipment'
          type: array
        tax_amount:
          description: The total tax amount for all of the items associated with the cart.
          format: int64
          type: number
        total_amount:
          description: 'The total amount, in cents, of the cart including its items and taxes (if applicable), e.g. $9.00 is 900. This total must match the sum of all other amounts.'
          example: 900
          format: int64
          type: number
      required:
        - total_amount
      type: object
    base_create_webhook:
      properties:
        division_id:
          description: The unique ID associated with the specific merchant division.
          example: 4ab56ad7865ada4ad32
          type: string
        url:
          $ref: '#/components/schemas/url'
      required:
        - division_id
        - url
      type: object
    base_model:
      description: Base model.
      properties:
        CreatedAt:
          format: timestamp
          type: integer
        DeactivatedAt:
          format: timestamp
          nullable: true
          type: integer
        DeactivatedBy:
          format: int64
          nullable: true
          type: integer
        ID:
          format: int64
          type: integer
        UpdatedAt:
          format: timestamp
          type: integer
      type: object
    billing_address_id:
      description: 'The unique Bolt ID associated with a previously saved billing address. Not applicable to new, unsaved addresses.'
      example: address-1
      nullable: true
      type: string
    block_listed:
      description: 'If merchant has block listed, is `true`.'
      example: false
      type: boolean
    bolt_product_id:
      description: Unique ID generated for a product via the products endpoint.
      example: e2bb0e7e-5625-536f-8ad7-25a26537ee28
      type: string
    brand:
      description: The name of a brand.
      example: Bolt Swagstore
      type: string
    can_change_shipping_address:
      description: Defines whether the merchant can update the shipping address after authorization.
      example: true
      type: boolean
    capture:
      description: Deprecated. Use `captures`.
      properties:
        amount:
          $ref: '#/components/schemas/amounts'
        id:
          $ref: '#/components/schemas/capture_id'
        splits:
          description: A list of splits. **Nullable** for Transactions Details.
          items:
            description: A split of fees by type and amount.
            properties:
              amount:
                $ref: '#/components/schemas/amounts'
              type:
                description: |
                  **Nullable** for Transactions Details.
                enum:
                  - net
                  - processing_fee
                  - bolt_fee
                  - adjustment
                  - float
                  - reserve
                example: processing_fee
                type: string
            required:
              - amount
              - type
            type: object
          type: array
        status:
          $ref: '#/components/schemas/capture_status'
      required:
        - id
        - status
        - amount
      type: object
    capture_id:
      description: The unique ID for the capture. **Nullable** for Transactions Details.
      example: BcDE4fafd2a4
      type: string
    capture_status:
      description: The status of the capture. **Nullable** for Transactions Details.
      enum:
        - succeeded
        - declined
        - error
      example: succeeded
      type: string
    capture_transaction_with_reference:
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency_iso'
        merchant_event_id:
          $ref: '#/components/schemas/credit_card_void/properties/merchant_event_id'
        skip_hook_notification:
          $ref: '#/components/schemas/transaction_skip_hook_notification'
        transaction_reference:
          $ref: '#/components/schemas/transaction_reference'
      required:
        - transaction_reference
        - amount
        - currency
      type: object
    captures:
      description: All captures associated with the transaction. **Nullable** for Transactions Details.
      items:
        $ref: '#/components/schemas/capture'
      type: array
    card_address:
      properties:
        company:
          $ref: '#/components/schemas/company'
        country:
          $ref: '#/components/schemas/country'
        country_code:
          $ref: '#/components/schemas/country_code'
        email:
          $ref: '#/components/schemas/email'
        first_name:
          $ref: '#/components/schemas/first_name'
        id:
          $ref: '#/components/schemas/billing_address_id'
        last_name:
          $ref: '#/components/schemas/last_name'
        locality:
          $ref: '#/components/schemas/locality'
        name:
          $ref: '#/components/schemas/name_person'
        phone:
          $ref: '#/components/schemas/phone'
        postal_code:
          $ref: '#/components/schemas/postal_code'
        region:
          $ref: '#/components/schemas/region'
        street_address1:
          $ref: '#/components/schemas/street_address'
      type: object
    card_bin:
      description: The Bank Identification Number for the credit card; this is typically the first 4-6 digits of the credit card number. **Nullable** for Transactions Details.
      example: '402201'
      maxLength: 6
      minLength: 4
      type: string
    card_display_network:
      description: The card's network. **Nullable** for Transactions Details.
      enum:
        - Credit Card
        - American Express
        - Diners Club
        - Discover
        - JCB
        - MasterCard
        - Union Pay
        - Visa
      example: Visa
      type: string
    card_expiration:
      description: The card's expiration. **Nullable** for Transactions Details.
      example: 1654041600000
      type: integer
    card_expiration_string:
      description: 'The expiration date of the credit card, expressed as a string.'
      example: 12/12/2024
      type: string
    card_gift:
      description: A gift card.
      properties:
        card_number:
          $ref: '#/components/schemas/card_number'
        pin:
          $ref: '#/components/schemas/pin'
      type: object
    card_id:
      description: The card's ID. **Nullable** for Transactions Details.
      example: AB3rJKam5DhYE
      type: string
    card_last4:
      description: The card's last 4 digits. **Nullable** for Transactions Details.
      example: '4021'
      maxLength: 4
      minLength: 4
      type: string
    card_network:
      description: |
        The card's network code. **Nullable** for Transactions Details. Note: LEGACY diners_club_us_ca now tagged as mastercard
      enum:
        - unknown
        - visa
        - mastercard
        - amex
        - discover
        - diners_club_us_ca
        - jcb
        - unionpay
        - alliancedata
        - citiplcc
      example: visa
      type: string
    card_number:
      description: The card number. **Nullable** for Transactions Details.
      example: 1111222233334444
      type: integer
    card_priority:
      description: The priority for the card.
      enum:
        - primary
        - listed
      example: primary
      type: string
    card_status:
      description: The card's status. **Nullable** for Transactions Details.
      enum:
        - active
        - created
        - inactive
        - transient
      example: active
      type: string
    card_token:
      description: 'The Bolt token associated to the credit card. Required for new, unsaved cards.'
      example: a1B2c3D4e5F6G7H8i9J0k1L2m3N4o5P6Q7r8S9t0
      type: string
    card_token_type:
      description: |
        Used to define which payment processor generated the token for this credit card.
      enum:
        - vantiv
        - applepay
        - bolt
        - stripe
        - plcc
        - applepay_encrypted_blob
      example: bolt
      type: string
    cards_gift:
      description: A list of gift cards.
      items:
        $ref: '#/components/schemas/card_gift'
      type: array
    carrier:
      description: The name of the carrier selected.
      example: FedEx
      type: string
    cart:
      properties:
        billing_address:
          $ref: '#/components/schemas/address'
        billing_address_id:
          $ref: '#/components/schemas/billing_address_id'
        items:
          $ref: '#/components/schemas/items'
        tax_amount:
          $ref: '#/components/schemas/tax_amount'
        total_amount:
          $ref: '#/components/schemas/total_amount'
      type: object
    cart_create:
      allOf:
        - $ref: '#/components/schemas/base_cart'
        - properties:
            cart_url:
              description: Used to provide a link to the cart ID.
              example: 'https://boltswagstore.com/orders/123456765432'
              maxLength: 8192
              type: string
            currency:
              example: USD
              type: string
            display_id:
              description: 'This field, although required, can be an empty string.'
              example: displayid_100
              maxLength: 128
              type: string
            metadata:
              additionalProperties:
                type: string
              description: Optional custom metadata.
              example:
                key1: value1
                key2: value2
              type: object
            order_description:
              description: Used optionally to pass additional information like order numbers or other IDs as needed.
              example: 'Order #1234567890'
              maxLength: 1024
              type: string
            order_reference:
              description: This value is used by Bolt as an external reference to a given order. This reference must be unique per successful transaction.
              example: order_100
              type: string
          required:
            - currency
            - order_reference
          type: object
    cart_discount:
      properties:
        amount:
          example: 100
          type: number
        code:
          example: SUMMER10DISCOUNT
          maxLength: 1024
          type: string
        description:
          description: Used to define the discount offering.
          example: 10% off our summer collection
          maxLength: 1024
          type: string
        details_url:
          description: 'Used to provide a link to additional details, such as a landing page, associated with the discount offering.'
          example: 'https://boltswagstore.com/SUMMERSALE'
          maxLength: 8192
          type: string
        discount_category:
          enum:
            - coupon
            - giftcard
            - managed_giftcard
            - store_credit
            - automatic_promotion
            - membership_discount
            - membership_giftcard
            - subscription_discount
            - rewards_discount
            - unknown
          type: string
        reference:
          description: Used to define the reference ID associated with the discount available.
          example: DISC-1234
          maxLength: 1024
          type: string
        type:
          description: The type of discount.
          enum:
            - fixed_amount
            - percentage
            - free_shipping
          example: percentage
          type: string
      type: object
    cart_discounts:
      properties:
        billing_address:
          $ref: '#/components/schemas/shipping_address'
        currency:
          $ref: '#/components/schemas/currency'
        discount_amount:
          $ref: '#/components/schemas/amounts'
        discounts:
          $ref: '#/components/schemas/discount_codes'
        display_id:
          $ref: '#/components/schemas/display_id'
        items:
          $ref: '#/components/schemas/items'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        shipments:
          $ref: '#/components/schemas/cart_shipments'
        shipping_amount:
          $ref: '#/components/schemas/amounts'
        subtotal_amount:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        total_amount:
          $ref: '#/components/schemas/amounts'
      type: object
    cart_add_on:
      description: A list of up to 3 add-ons that are displayed to the shopper.
      properties:
        description:
          description: The description of the product being displayed as an add on.
          maxLength: 256
          type: string
        imageUrl:
          description: The URL of the image displayed for the add on product.
          maxLength: 1024
          type: string
        name:
          description: The name of the product being displayed as an add on.
          maxLength: 256
          type: string
        price:
          description: The price of the product add on in cents (1/100).
          format: int64
          type: number
        productId:
          description: The the ID of the product being displayed as an add on.
          maxLength: 256
          type: string
        productPageUrl:
          description: The URL to the product page of the product being displayed as an add on.
          maxLength: 1024
          type: string
      required:
        - name
        - productId
        - price
      type: object
    cart_item:
      properties:
        brand:
          example: Bolt
          maxLength: 1024
          nullable: true
          type: string
        category:
          description: Used to define a product category associated with the item.
          example: bags
          maxLength: 1024
          nullable: true
          type: string
        collections:
          $ref: '#/components/schemas/collections'
        color:
          description: Used to define the color of the item.
          example: Bolt Blue
          maxLength: 1024
          nullable: true
          type: string
        customizations:
          items:
            $ref: '#/components/schemas/cart_item_customization'
          type: array
        description:
          example: Large tote with Bolt logo.
          nullable: true
          type: string
        details_url:
          description: Used to provide a link to the item's product page.
          example: 'https://boltswagstore.com/products/123456'
          maxLength: 8192
          type: string
        external_inputs:
          $ref: '#/components/schemas/i_cart_item_external_inputs'
        gift_option:
          description: Contains the gift option settings for wrapping and custom messages.
          properties:
            cost:
              $ref: '#/components/schemas/cost'
            merchant_product_id:
              $ref: '#/components/schemas/merchant_product_id'
            message:
              $ref: '#/components/schemas/gift_options_message'
            wrap:
              $ref: '#/components/schemas/gift_options_wrap'
          type: object
        image_url:
          description: Used to provide a link to the image associated with the item.
          example: 'https://boltswagstore.com/products/123456/images/1.png'
          maxLength: 8192
          type: string
        isbn:
          description: Used to define the International Standard Book Number associated with the book.
          example: '9780091347314'
          maxLength: 1024
          nullable: true
          type: string
        item_group:
          nullable: true
          type: string
        manufacturer:
          description: Used to define the organization that manufactured the item.
          example: Bolt Textiles USA
          maxLength: 1024
          nullable: true
          type: string
        merchant_product_id:
          $ref: '#/components/schemas/merchant_product_id'
        merchant_variant_id:
          description: A merchant's unique ID for a given product's specific variant.
          example: '888'
          type: string
        msrp:
          format: int64
          nullable: true
          type: number
        name:
          example: Bolt Swag Bag
          maxLength: 1024
          minLength: 1
          type: string
        options:
          example: Special Edition
          maxLength: 1024
          nullable: true
          type: string
        properties:
          items:
            $ref: '#/components/schemas/cart_item_property'
          type: array
        quantity:
          example: 1
          format: int64
          maximum: 15000
          type: number
        reference:
          example: item_100
          maxLength: 1024
          type: string
        shipment:
          $ref: '#/components/schemas/cart_shipment'
        shipment_type:
          enum:
            - unknown
            - door_delivery
            - ship_to_store
            - in_store_pickup
          type: string
        size:
          description: Used to define the size of the item.
          example: Large
          maxLength: 1024
          nullable: true
          type: string
        sku:
          description: Used to define the alpha-numberic Stock Keeping Unit associated with the item as it is mapped to your internal product catalogue.
          example: BOLT-SKU_100
          maxLength: 1024
          nullable: true
          type: string
        source:
          nullable: true
          type: string
        tags:
          description: Used to define a comma-separated list of tags associated with the item.
          example: 'tote, blue, linen, eco-friendly'
          maxLength: 1024
          nullable: true
          type: string
        tax_amount:
          description: The tax amount for the item; this value should scale with the quantity of units selected.
          example: 0
          format: int64
          nullable: true
          type: number
        tax_code:
          maxLength: 32
          nullable: true
          type: string
        taxable:
          nullable: true
          type: boolean
        total_amount:
          description: 'The total amount, in cents, of the item including its taxes if applicable.'
          example: 1000
          format: int64
          type: number
        type:
          enum:
            - unknown
            - digital
            - physical
            - bundled
          type: string
        unit_price:
          description: 'The price of one unit of the item; for example, the price of one pack of socks.'
          example: 1000
          format: int64
          type: number
        uom:
          description: Used to define the unit of measure used to describe the item.
          example: inches
          maxLength: 1024
          nullable: true
          type: string
        upc:
          description: Used to define the 12-digit Universal Product Code (a barcode) associated with the item worldwide.
          example: 0825764603119
          maxLength: 1024
          nullable: true
          type: string
        weight:
          example: 10
          format: int64
          maximum: 10000
          nullable: true
          type: number
        weight_unit:
          example: pounds
          maxLength: 1024
          nullable: true
          type: string
      required:
        - reference
        - name
        - total_amount
        - unit_price
        - quantity
      type: object
    cart_item_customization:
      properties:
        attributes:
          additionalProperties:
            type: string
          example:
            key1: value1
            key2: value2
          type: object
        name:
          type: string
        price:
          $ref: '#/components/schemas/amount_view'
      type: object
    cart_item_property:
      properties:
        color:
          maxLength: 1024
          type: string
        display:
          type: boolean
        name:
          maxLength: 1024
          type: string
        name_id:
          format: int64
          type: number
        value:
          maxLength: 1024
          type: string
        value_id:
          format: int64
          type: number
      type: object
    cart_limited:
      description: Limited cart view.
      properties:
        billing_address:
          $ref: '#/components/schemas/shipping_address'
        display_id:
          $ref: '#/components/schemas/display_id'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        shipments:
          $ref: '#/components/schemas/cart_shipment'
      type: object
    cart_loyalty_rewards:
      properties:
        amount:
          description: The reward amount in cents (1/100).
          format: int64
          type: number
        coupon_code:
          description: The loyalty reward's coupon code.
          type: string
        description:
          description: A description of the loyalty reward that will be shown to the shopper.
          type: string
          example: $5 off (100 Points)
        details:
          description: 'Internal-facing metadata for the Loyalty Rewards. Ideal for adding any other identifying information about the reward,  including a duplication of the original loyalty reward json response from the loyalty provider as shown in the example provided. If you choose to use this field  to hold json, enclose the content in single quotes to force a string value.'
          type: string
          example: '{"id": 123456, "icon": "fa-dollar", "name": "$15.00 Off", "type": "Coupon", "amount": 100, "duration": "single_use", "cost_text": "150 Points",  "description": "Get $15 off your next purchase for 150 points", "discount_type": "fixed_amount", "unrendered_name": "$15.00 Off",  "discount_percentage": null, "discount_rate_cents": null, "discount_value_cents": null, "discount_amount_cents": 1500,  "unrendered_description": "Get $15 off your next purchase for 150 points", "applies_to_product_type": "ALL"}'
        points:
          description: The number of points needed for this reward.
          format: int64
          type: number
        source:
          description: The loyalty rewards provider.
          type: string
        type:
          description: The type of loyalty reward.
          type: string
      type: object
    cart_order:
      properties:
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
        cart_url:
          $ref: '#/components/schemas/cart_url'
        currency:
          properties:
            currency:
              $ref: '#/components/schemas/currency_iso'
            currency_symbol:
              $ref: '#/components/schemas/currency_symbol'
          type: object
        discount_amount:
          $ref: '#/components/schemas/amounts'
        discounts:
          $ref: '#/components/schemas/discounts'
        display_id:
          $ref: '#/components/schemas/display_id'
        in_store_shipments:
          $ref: '#/components/schemas/in_store_shipments'
        items:
          $ref: '#/components/schemas/items'
        merchant_order_url:
          $ref: '#/components/schemas/order_url'
        metadata:
          $ref: '#/components/schemas/metadata_component'
        order_description:
          example: string
          type: string
        order_reference:
          $ref: '#/components/schemas/order_reference'
        shipments:
          $ref: '#/components/schemas/shipments2'
        shipping_amount:
          $ref: '#/components/schemas/amounts'
        subtotal_amount:
          $ref: '#/components/schemas/amounts'
        tax_amount:
          $ref: '#/components/schemas/amounts'
        total_amount:
          $ref: '#/components/schemas/amounts'
        transaction_reference:
          $ref: '#/components/schemas/transaction_reference'
      required:
        - currency
        - subtotal_amount
        - total_amount
      type: object
    cart_order_generated:
      properties:
        discounts:
          $ref: '#/components/schemas/discounts'
        display_id:
          $ref: '#/components/schemas/order_display_id'
        items:
          $ref: '#/components/schemas/items'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        total_amount:
          $ref: '#/components/schemas/amounts'
      type: object
    cart_publisher:
      properties:
        Items:
          $ref: '#/components/schemas/publisher_items'
      type: object
    cart_shipment:
      description: A cart that is being prepared for shipment
      properties:
        carrier:
          $ref: '#/components/schemas/carrier'
        cost:
          $ref: '#/components/schemas/cost'
        discounted_by_membership:
          $ref: '#/components/schemas/discount_membership'
        estimated_delivery_date:
          $ref: '#/components/schemas/estimated_delivery_date'
        expedited:
          $ref: '#/components/schemas/expedited'
        package_depth:
          $ref: '#/components/schemas/depth'
        package_dimension_unit:
          $ref: '#/components/schemas/dimension_unit'
        package_height:
          $ref: '#/components/schemas/height'
        package_type:
          $ref: '#/components/schemas/package_type'
        package_weight_unit:
          $ref: '#/components/schemas/weight_unit'
        package_width:
          $ref: '#/components/schemas/width'
        service:
          $ref: '#/components/schemas/service'
        shipping_address:
          $ref: '#/components/schemas/address'
        shipping_address_id:
          $ref: '#/components/schemas/shipping_address_id'
        shipping_method:
          $ref: '#/components/schemas/shipping_method'
        signature:
          $ref: '#/components/schemas/signature'
        tax_amount:
          $ref: '#/components/schemas/tax_amount'
        tax_code:
          $ref: '#/components/schemas/tax_code'
        total_weight:
          description: The total weight.
          example: 55
          type: integer
        total_weight_unit:
          $ref: '#/components/schemas/weight_unit'
        type:
          $ref: '#/components/schemas/cart_shipment_type'
      type: object
    cart_shipment_combined:
      description: A cart that is being prepared for shipment
      properties:
        currency:
          $ref: '#/components/schemas/currency_iso'
        display_id:
          $ref: '#/components/schemas/display_id'
        items:
          $ref: '#/components/schemas/items'
        metadata:
          $ref: '#/components/schemas/metadata_component'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        total_amount:
          $ref: '#/components/schemas/total_amount'
      type: object
    cart_shipment_type:
      description: 'The type corresponding to this shipment, if applicable.'
      example: door_delivery
      enum:
        - door_delivery
        - in_store_pickup
        - ship_to_store
        - ship_to_home_only
        - unknown
      type: string
    cart_shipments:
      description: A list of shipments.
      items:
        $ref: '#/components/schemas/cart_shipment'
      type: array
    cart_transaction_authorize:
      properties:
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
        currency:
          $ref: '#/components/schemas/currency_iso'
        discounts:
          $ref: '#/components/schemas/discounts_transaction_authorize'
        items:
          $ref: '#/components/schemas/items'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        shipments:
          $ref: '#/components/schemas/shipments2'
        tax_amount:
          $ref: '#/components/schemas/amount'
        total_amount:
          $ref: '#/components/schemas/amount'
      type: object
    cart_transaction_recharge:
      properties:
        currency:
          $ref: '#/components/schemas/currency_iso'
        order_reference:
          $ref: '#/components/schemas/order_reference'
        total_amount:
          $ref: '#/components/schemas/amount'
      type: object
    cart_url:
      description: The URL for the cart.
      example: 'https://boltswagstore.com/orders/123456765432'
      type: string
    cart_view:
      description: This is the cart object returned in a successful response.
      properties:
        billing_address:
          $ref: '#/components/schemas/address_view'
        cart_url:
          description: Used to provide a link to the cart ID.
          example: 'https://boltswagstore.com/orders/123456765432'
          maxLength: 8192
          type: string
        currency:
          $ref: '#/components/schemas/i_currency'
        discount_amount:
          $ref: '#/components/schemas/amount_view'
        discounts:
          items:
            $ref: '#/components/schemas/i_cart_discount_view'
          type: array
        display_id:
          example: displayid_100
          type: string
        fee_amount:
          $ref: '#/components/schemas/amount_view'
        fees:
          items:
            $ref: '#/components/schemas/i_cart_item_view'
          type: array
        fulfillments:
          items:
            properties:
              cart_shipment:
                $ref: '#/components/schemas/i_cart_shipment_view'
              fulfillment_type:
                type: string
              id:
                type: string
              in_store_cart_shipment:
                $ref: '#/components/schemas/in_store_shipment2'
              items:
                items:
                  $ref: '#/components/schemas/i_cart_item_view'
                type: array
            type: object
          type: array
        in_store_shipments:
          $ref: '#/components/schemas/in_store_shipment2'
        items:
          items:
            $ref: '#/components/schemas/i_cart_item_view'
          type: array
        loyalty_rewards:
          items:
            properties:
              amount:
                $ref: '#/components/schemas/amount_view'
              coupon_code:
                type: string
              description:
                type: string
              details:
                type: string
              points:
                format: int64
                type: integer
              source:
                type: string
              type:
                type: string
            type: object
          type: array
        loyalty_rewards_amount:
          $ref: '#/components/schemas/amount_view'
        merchant_order_url:
          type: string
        metadata:
          additionalProperties:
            type: string
          type: object
        msrp:
          $ref: '#/components/schemas/amount_view'
        order_description:
          description: Used optionally to pass additional information like order numbers or other IDs as needed.
          example: 'Order #1234567890'
          maxLength: 1024
          type: string
        order_reference:
          description: This value is used by Bolt as an external reference to a given order. This reference must be unique per successful transaction.
          example: order_100
          type: string
        shipments:
          items:
            $ref: '#/components/schemas/i_cart_shipment_view'
          type: array
        shipping_amount:
          $ref: '#/components/schemas/amount_view'
        subtotal_amount:
          $ref: '#/components/schemas/amount_view'
        tax_amount:
          $ref: '#/components/schemas/amount_view'
        total_amount:
          $ref: '#/components/schemas/amount_view'
        transaction_reference:
          description: The 12 digit reference ID associated to a given transaction webhook for an order.
          example: 6CEA-ZME1-DACE
          maxLength: 12
          minLength: 12
          type: string
      type: object
    catalog_view:
      properties:
        Catalog:
          items:
            $ref: '#/components/schemas/product_inventory_view'
          type: array
        Cursor:
          type: string
      type: object
    category:
      description: A category.
      example: hats
      type: string
    chargeback_details:
      properties:
        amt_won:
          $ref: '#/components/schemas/amount_view'
        chargeback_amt:
          $ref: '#/components/schemas/amount_view'
        chargeback_fee:
          $ref: '#/components/schemas/amount_view'
        chargeback_id:
          $ref: '#/components/schemas/chargeback_id'
        event_views:
          items:
            $ref: '#/components/schemas/chargeback_event_view'
          type: array
        net_amt:
          $ref: '#/components/schemas/amount_view'
        reason:
          $ref: '#/components/schemas/chargeback_reason'
        reason_code:
          $ref: '#/components/schemas/chargeback_reason_code'
        representment_reply_by_date:
          $ref: '#/components/schemas/chargeback_representment_reply_by_date'
        representment_result:
          $ref: '#/components/schemas/chargeback_representment_result'
      type: object
    chargeback_details_view:
      properties:
        amt_won:
          allOf:
            - $ref: '#/components/schemas/amount_view'
            - description: The total representment amount IF the merchant won the chargeback case.
        chargeback_amt:
          allOf:
            - $ref: '#/components/schemas/amount_view'
            - description: The total amount of dispute debits and credits related to this chargeback case.
        chargeback_fee:
          allOf:
            - $ref: '#/components/schemas/amount_view'
            - description: The total amount of dispute fee debits and credits related to this chargeback case.
        chargeback_id:
          type: string
        event_views:
          items:
            $ref: '#/components/schemas/chargeback_event_view'
          type: array
        net_amt:
          allOf:
            - $ref: '#/components/schemas/amount_view'
            - description: The total sum of the fields `chargeback_amt` and `chargeback_fee`.
        reason:
          type: string
        reason_code:
          type: string
        representment_reply_by_date:
          description: The reply-by date of the dispute in UnixMillis format.
          format: int64
          type: number
        representment_result:
          enum:
            - none
            - open
            - lost
            - won
          type: string
      type: object
    chargeback_event_content:
      description: The context for the chargeback.
      example: First Chargeback
      type: string
    chargeback_event_time:
      description: The time this single chargeback event ocurred.
      example: 1485997169003
      type: integer
    chargeback_event_view:
      properties:
        content:
          type: string
        time:
          type: number
      type: object
    chargeback_id:
      description: The unique ID of the chargeback.
      example: a3ad4d56fd7
      type: string
    chargeback_reason:
      description: The reason for the chargeback.
      example: string
      type: string
    chargeback_reason_code:
      description: 'Bolt''s [standardized reason codes](https://help.bolt.com/merchants/references/policies/disputes/dispute-codes/).'
      enum:
        - authorization_failed
        - cancelled_recurring
        - cardholder_dispute
        - currency_error
        - duplicate
        - fraud_general
        - fraud_no_authorization
        - incorrect_amount
        - late_presentment
        - processing_error
        - processor_general
        - product_defective
        - product_not_received
        - product_returned
        - request_for_information
      example: product_not_received
      type: string
    chargeback_representment_reply_by_date:
      description: The date of the chargeback.
      example: 1485997169003
      type: integer
    chargeback_representment_result:
      description: The result of the chargeback representment.
      enum:
        - none
        - open
        - lost
        - won
      example: won
      type: string
    code:
      description: Custom-defined Bolt error code. This can be used to programmatically react to specific errors.
      example: 2001005
      format: int64
      type: integer
    collection:
      example: summer
      type: string
    collections:
      items:
        $ref: '#/components/schemas/collection'
      type: array
    color:
      description: The color.
      example: Red
      type: string
    company:
      description: The company's name
      example: ACME Corp.
      type: string
    consumer_billing_address:
      properties:
        company:
          $ref: '#/components/schemas/company'
        country:
          $ref: '#/components/schemas/country'
        country_code:
          $ref: '#/components/schemas/country_code'
        email_address:
          $ref: '#/components/schemas/email'
        first_name:
          $ref: '#/components/schemas/first_name'
        id:
          $ref: '#/components/schemas/billing_address_id'
        last_name:
          $ref: '#/components/schemas/last_name'
        locality:
          $ref: '#/components/schemas/locality'
        name:
          $ref: '#/components/schemas/name_person'
        phone_number:
          $ref: '#/components/schemas/phone'
        postal_code:
          $ref: '#/components/schemas/postal_code'
        region:
          $ref: '#/components/schemas/region'
        street_address1:
          $ref: '#/components/schemas/street_address'
        street_address2:
          $ref: '#/components/schemas/street_address'
        street_address3:
          $ref: '#/components/schemas/street_address'
        street_address4:
          $ref: '#/components/schemas/street_address'
      required:
        - street_address1
        - locality
        - region
        - postal_code
      type: object
    consumer_email_verified:
      description: True if Bolt has verified this email in the past.  **Nullable** for Transactions Details.
      example: true
      type: boolean
    consumer_id:
      description: The shopper's unique ID.
      example: b2vghjk2v4c5fgdh3jak
      type: string
    consumer_membership_status:
      description: True if user has an AllPass membership associated to their Bolt Account. **Nullable** for Transactions Details.
      enum:
        - active
        - cancelled
        - disabled
        - free_trial
      type: string
    consumer_platform_account_status:
      description: Used internally for Bolt. Does not display information externally.
      enum:
        - 1
        - 2
        - 3
      type: integer
    consumer_self_view:
      allOf:
        - $ref: '#/components/schemas/consumer_summary_view'
        - properties:
            authentication:
              $ref: '#/components/schemas/login_view'
            email_verified:
              type: boolean
            emails:
              items:
                $ref: '#/components/schemas/email_view'
              type: array
            first_name:
              type: string
            id:
              type: string
            last_name:
              type: string
            phones:
              items:
                $ref: '#/components/schemas/phone_view'
              type: array
            platform_account_status:
              enum:
                - none
                - linked
                - unlinked
              type: string
          type: object
    consumer_summary_view:
      properties:
        first_name:
          description: The given name of the person associated with this record.
          example: Alan
          type: string
        id:
          type: string
        last_name:
          description: The surname of the person associated with this record.
          example: Watts
          type: string
      type: object
    consumer_user_membership:
      description: |
        **Nullable** for Transactions Details.
      properties:
        status:
          $ref: '#/components/schemas/consumer_membership_status'
      required:
        - status
      type: object
    cost:
      description: The cost in cents.
      example: 770
      type: integer
    country:
      description: The country's name.
      example: Canada
      type: string
    country_code:
      description: The 2-digit country code.
      example: US
      type: string
    create_account_input:
      description: The details needed to create a Bolt account.
      properties:
        addresses:
          description: A list of physical shipping addresses associated with this account.
          items:
            $ref: '#/components/schemas/address_account'
          type: array
        payment_methods:
          description: A list of payment methods associated with this account.
          items:
            $ref: '#/components/schemas/payment_method_account'
          type: array
        profile:
          $ref: '#/components/schemas/profile'
      required:
        - profile
      type: object
    credit:
      properties:
        status:
          example: succeeded
          type: string
      type: object
    credit_card:
      description: 'The credit_card object is used to to pay for guest-checkout transactions or save payment method details to an account. Once saved, you can reference the credit card with the associated `credit_card_id` for future transactions. Add `billing_address` to this if storing a billing address for a returning shopper.'
      properties:
        billing_address:
          $ref: '#/components/schemas/address'
        bin:
          description: The Bank Identification Number for the credit card; this is typically the first 4-6 digits of the credit card number.
          maxLength: 6
          minLength: 4
          type: string
          example: 411111
        expiration:
          description: The expiration date of the credit card.
          example: 2025-11
          type: string
        last4:
          description: The last 4 digits of the credit card number.
          example: '1234'
          maxLength: 4
          minLength: 4
          type: string
        postal_code:
          description: Used for the postal or zip code associated with the credit card.
          example: '10044'
          maxLength: 32
          type: string
        priority:
          description: 'Used to indicate the card''s priority. ''1'' indicates primary, while ''2'' indicates a secondary card.'
          enum:
            - 1
            - 2
          type: integer
        save:
          description: Determines whether or not the credit card will be saved to the shopper's account. Defaults to `true`.
          type: boolean
        token:
          description: The Bolt token associated to the credit card.
          example: a1B2c3D4e5F6G7H8i9J0k1L2m3N4o5P6Q7r8S9t0
          type: string
        token_type:
          description: 'Used to define which payment processor generated the token for this credit card; for those using Bolt''s tokenizer, the value must be `bolt`.'
          enum:
            - bolt
          example: bolt
          type: string
      required:
        - token
        - last4
        - bin
        - expiration
        - postal_code
        - token_type
      type: object
    credit_card_authorization_reason:
      description: |
        The reason code explaining the authorization status.
          * `1` - none
          * `2` - invalid_amount
          * `3` - invalid_cvv
          * `4` - invalid_cc_number
          * `5` - expired
          * `6` - risk
          * `7` - lost_stolen
          * `8` - call_issuer
          * `9` - invalid_merchant_for_card
          * `10` - unsupported_payment_method
      enum:
        - none
        - invalid_amount
        - invalid_cvv
        - invalid_cc_number
        - expired
        - risk
        - lost_stolen
        - call_issuer
        - invalid_merchant_for_card
        - unsupported_payment_method
        - processor_server_error
      type: string
    credit_card_authorization_status:
      description: |
        The status of the authorization request.
          * `1` - succeeded
          * `2` - declined
          * `3` - error
      enum:
        - succeeded
        - declined
        - error
      example: succeeded
      type: string
    credit_card_authorization_view:
      properties:
        auth:
          type: string
        avs_response:
          enum:
            - '00'
            - '01'
            - '02'
            - '10'
            - '11'
            - '12'
            - '13'
            - '14'
            - '20'
            - '30'
            - '31'
            - '32'
            - '33'
            - '34'
            - '40'
            - adyen_
            - adyen_A
            - adyen_N
            - adyen_U
            - adyen_S
            - adyen_R
            - adyen_W
            - adyen_T
            - adyen_Z
            - adyen_D
            - adyen_F
            - adyen_M
            - adyen_X
            - adyen_Y
            - adyen_B
            - adyen_P
            - adyen_C
            - adyen_G
            - adyen_I
            - adyen_K
          type: string
        cvv_response:
          enum:
            - M
            - 'N'
            - P
            - S
            - U
            - D
            - X
            - 'Y'
            - '1'
            - '2'
            - '3'
            - pass
            - fail
            - unavailable
            - unchecked
            - braintree_M
            - braintree_N
            - braintree_U
            - braintree_B
            - braintree_A
            - braintree_I
            - braintree_S
            - CVV2
          type: string
        merchant_event_id:
          $ref: '#/components/schemas/credit_card_void/properties/merchant_event_id'
        metadata:
          additionalProperties:
            type: string
          type: object
        processor:
          enum:
            - vantiv
            - adyen_payfac
            - adyen_gateway
            - stripe
            - braintree
            - cybersource
            - nmi
            - authorize_net
            - radial
            - shopify_payments
            - rocketgate
          type: string
        reason:
          $ref: '#/components/schemas/credit_card_authorization_reason'
        status:
          $ref: '#/components/schemas/credit_card_authorization_status'
      type: object
    credit_card_capture_view:
      properties:
        amount:
          $ref: '#/components/schemas/amount_view'
        id:
          $ref: '#/components/schemas/capture_id'
        merchant_event_id:
          $ref: '#/components/schemas/credit_card_void/properties/merchant_event_id'
        metadata:
          additionalProperties:
            example:
              key1: value1
              key2: value2
            type: string
          type: object
        splits:
          $ref: '#/components/schemas/transaction_splits_view'
        status:
          $ref: '#/components/schemas/capture_status'
      type: object
    credit_card_credit:
      properties:
        Async:
          type: boolean
        CaptureID:
          format: int64
          type: number
        Credit:
          type: string
        CreditCardSettlementID:
          format: int64
          type: number
        CreditCardTransactionID:
          format: int64
          type: number
        MultirefundCreditID:
          format: int64
          type: number
        Status:
          $ref: '#/components/schemas/credit_card_credit_status'
      type: object
    credit_card_credit_status:
      properties:
        status:
          description: The status of the refund to a card.
          enum:
            - succeeded
            - declined
            - error
            - pending
            - in progress
          example: succeeded
          type: string
      type: object
    credit_card_credit_view:
      allOf:
        - $ref: '#/components/schemas/credit_card_credit_status'
        - properties:
            merchant_event_id:
              $ref: '#/components/schemas/credit_card_void/properties/merchant_event_id'
    credit_card_transaction:
      description: Details about the credit card transaction.
      properties:
        BaseModel:
          $ref: '#/components/schemas/base_model'
        funding_instrument_id:
          $ref: '#/components/schemas/funding_instrument_id'
        ledger_id:
          description: The ID of the ledger.
          format: int64
          nullable: true
          type: integer
        ledger_time:
          description: the time of the ledger.
          format: date-time
          nullable: true
          type: integer
        stage:
          $ref: '#/components/schemas/credit_card_transaction_stage'
        transaction_id:
          $ref: '#/components/schemas/transaction_id'
      type: object
    credit_card_transaction_stage:
      description: |
        Stage of the credit card transaction:
          * `1` - Auth
          * `2` - Capture
          * `3` - Void
          * `4` - Credit
          * `5` - Legacy value: auth_capture
          * `6` - Submission
          * `7` - Settlement
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - 6
        - 7
      type: integer
    credit_card_user:
      description: The credit card user.
      properties:
        emails:
          $ref: '#/components/schemas/emails'
        first_name:
          $ref: '#/components/schemas/first_name'
        id:
          $ref: '#/components/schemas/consumer_id'
        last_name:
          $ref: '#/components/schemas/last_name'
        phones:
          $ref: '#/components/schemas/phones_with_country_code'
      type: object
    credit_card_view:
      description: Contains details about the credit card transaction.
      properties:
        billing_address:
          $ref: '#/components/schemas/address_view'
        bin:
          $ref: '#/components/schemas/card_bin'
        display_network:
          $ref: '#/components/schemas/card_display_network'
        expiration:
          $ref: '#/components/schemas/card_expiration'
        icon_asset_path:
          $ref: '#/components/schemas/icon_asset_path'
        id:
          $ref: '#/components/schemas/card_id'
        last4:
          $ref: '#/components/schemas/card_last4'
        network:
          $ref: '#/components/schemas/card_network'
        priority:
          $ref: '#/components/schemas/priority'
        status:
          $ref: '#/components/schemas/card_status'
        token:
          $ref: '#/components/schemas/card_token'
        token_type:
          $ref: '#/components/schemas/card_token_type'
      type: object
    credit_card_void:
      properties:
        merchant_event_id:
          description: 'The reference ID associated with a transaction event (auth, capture, refund, void). This is an arbitrary identifier created by the merchant. Bolt does not enforce any uniqueness constraints on this ID. It is up to the merchant to generate identifiers that properly fulfill its needs.'
          example: dbe0cd5d-3261-41d9-ba61-49e5b9d07567
          type: string
        skip_hook_notification:
          $ref: '#/components/schemas/transaction_skip_hook_notification'
        transaction_reference:
          $ref: '#/components/schemas/transaction_reference'
      required:
        - transaction_reference
      type: object
    credit_status:
      properties:
        status:
          description: This is the status of the refund.
          enum:
            - succeeded
            - declined
            - error
            - pending
          type: string
      type: object
    currency:
      properties:
        currency:
          $ref: '#/components/schemas/currency_iso'
        currency_symbol:
          $ref: '#/components/schemas/currency_symbol'
      type: object
    currency_iso:
      description: The 3-digit ISO code for the currency. **Nullable** for Transactions Details.
      example: USD
      type: string
    currency_symbol:
      description: The currency symbol used for the amount. **Nullable** for Transactions Details.
      example: $
      type: string
    custom_field_full_response_view:
      properties:
        field:
          $ref: '#/components/schemas/custom_field_view'
        response:
          $ref: '#/components/schemas/custom_field_response_view'
      type: object
    custom_field_response_view:
      properties:
        response:
          oneOf:
            - type: string
            - type: boolean
      type: object
    custom_field_view:
      properties:
        checkout_step:
          enum:
            - SHIPPING_STEP
            - DELIVERY_STEP
            - PAYMENT_STEP
            - ACCOUNT_REGISTRATION_SSO
          type: string
        dynamic:
          type: boolean
        context:
          enum:
            - CHECKOUT
            - SSO
          type: string
        external_id:
          type: string
        field_setup:
          type: string
        label:
          type: string
        position:
          format: int64
          type: number
        public_id:
          type: string
        required:
          type: boolean
        subscribeToNewsletter:
          type: boolean
      type: object
    custom_fields:
      properties:
        checkout_setup:
          enum:
            - shipping_step
            - delivery_step
            - payment_step
            - account_registration_sso
          example: string
          type: string
        dynamic:
          description: Defines whether the field is dynamic.
          example: false
          type: boolean
        context:
          description: The app context of where the custom field is used.
          enum:
            - CHECKOUT
            - SSO
          example: CHECKOUT
          type: string
        external_id:
          description: The external ID for the custom field.
          example: '123456'
          type: string
        field_setup:
          example: string
          type: string
        label:
          description: 'The displayed label for the custom field, seen by the shopper.'
          example: Special Field
          type: string
        position:
          example: 1
          type: integer
        public_id:
          description: The internal ID for the custom field.
          example: i-123456
          type: string
        required:
          description: Defines if the field must be completed to check out.
          example: true
          type: boolean
        subscribe_to_newsletter:
          description: Defines whether the shopper is opted into a newsletter or not.
          example: false
          type: boolean
      type: object
    custom_fields2:
      items:
        $ref: '#/components/schemas/custom_fields'
      type: array
    customer_list_status:
      properties:
        auto_approved:
          type: boolean
        block_listed:
          type: boolean
      type: object
    customizations_name:
      description: The name of the customization.
      example: Bedazzled
      type: string
    data:
      description: Generic wrapper used by Bolt.
      type: object
    data_error:
      description: 'The JSON object with string key, and value any JSON object.'
      properties:
        reason:
          $ref: '#/components/schemas/reason'
      type: object
    date:
      description: The date.
      example: '1621887799738'
      type: integer
    default:
      example: false
      type: boolean
    depth:
      description: The depth.
      example: 90
      type: integer
    description:
      description: The product's description.
      example: Very beautiful and chic.
      type: string
    dimension_unit:
      description: The unit of measurement for an item's dimensions.
      example: cm
      type: string
    discount_category:
      description: The discount's category.
      enum:
        - coupon
        - gift_card
        - managed_giftcard
        - store_credit
        - automatic_promotion
        - membership_discount
        - membership_giftcard
        - subscription_discount
        - rewards_discount
        - unknown
      example: coupon
      type: string
    discount_code:
      description: The discount code input by a shopper.
      example: SUMMERFUN15
      type: string
    discount_codes:
      description: A list of discount codes.
      items:
        $ref: '#/components/schemas/discount_code'
      type: array
    discount_currency:
      $ref: '#/components/schemas/discount_codes'
    discount_description:
      description: The discount code's description.
      example: Take 15% off of your order.
      type: string
    discount_free_shipping:
      description: Contains free shipping settings and limitations.
      properties:
        is_free_shipping:
          $ref: '#/components/schemas/is_free_shipping'
        maximum_cost_allowed:
          $ref: '#/components/schemas/maximum_cost_allowed'
      type: object
    discount_membership:
      description: Defines if shopper has a membership discount.
      example: false
      type: boolean
    discount_reference:
      description: The discount's reference.
      example: discount-1234
      type: string
    discount_type:
      description: The type of discount.
      enum:
        - fixed_amount
        - percentage
        - free_shipping
      example: percentage
      type: string
    discount_uri:
      description: The discount's URI.
      example: 'https://boltswagstore.com/discounts/#12345'
      type: string
    discounts:
      description: A list of discounts.
      items:
        properties:
          amount:
            $ref: '#/components/schemas/amounts'
          code:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          discount_category:
            $ref: '#/components/schemas/discount_category'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          reference:
            $ref: '#/components/schemas/discount_code'
        type: object
      type: array
    discounts_order_generate:
      description: A list of discounts.
      items:
        properties:
          amount:
            $ref: '#/components/schemas/amount'
          code:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          discount_category:
            $ref: '#/components/schemas/discount_category'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          reference:
            $ref: '#/components/schemas/discount_code'
        type: object
      type: array
    discounts_transaction_authorize:
      description: A list of discounts.
      items:
        properties:
          amount:
            $ref: '#/components/schemas/amount'
          code:
            $ref: '#/components/schemas/discount_code'
          description:
            $ref: '#/components/schemas/discount_description'
          details_url:
            $ref: '#/components/schemas/discount_uri'
          discount_category:
            $ref: '#/components/schemas/discount_category'
          free_shipping:
            $ref: '#/components/schemas/discount_free_shipping'
          reference:
            $ref: '#/components/schemas/discount_code'
        type: object
      type: array
    display_id:
      description: The displayed ID.
      example: ID-12345
      type: string
    distance:
      description: The distance as a number.
      example: 2
      type: integer
    distance_unit:
      description: The distance unit.
      example: miles
      type: string
    email:
      description: An email address.
      example: alan.watts@example.com
      format: email
      type: string
      maxLength: 255
    email_id:
      description: This is the ID for the email address associated with the shopper.
      example: '123'
      type: string
    email_priority:
      description: This is the priority of the contact method. This field's contents are not displayed in the transaction details view.
      enum:
        - primary
        - listed
      example: primary
      type: string
    email_status:
      description: This is the status of the contact method.
      enum:
        - active
        - pending
        - inactive
      example: active
      type: string
    email_view:
      properties:
        address:
          type: string
        id:
          type: string
        priority:
          $ref: '#/components/schemas/priority'
        status:
          type: string
      type: object
    emails:
      description: A list of email addresses. **Nullable** for Transactions Details.
      items:
        description: An object of user email.
        properties:
          address:
            $ref: '#/components/schemas/email'
          id:
            $ref: '#/components/schemas/email_id'
          priority:
            $ref: '#/components/schemas/email_priority'
          status:
            $ref: '#/components/schemas/email_status'
        type: object
      type: array
    error:
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
      type: object
    error_base_response:
      properties:
        error:
          $ref: '#/components/schemas/error'
        event:
          $ref: '#/components/schemas/event'
        status:
          enum:
            - failure
          type: string
      type: object
    error_bolt_api:
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
      type: object
      description: Error object containing custom error information
    errors:
      items:
        $ref: '#/components/schemas/error'
      type: array
    errors_base_response:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/error'
          type: array
        event:
          $ref: '#/components/schemas/event'
        status:
          enum:
            - failure
          type: string
      type: object
    errors_bolt_api:
      items:
        $ref: '#/components/schemas/error_bolt_api'
      type: array
    errors_bolt_api_response:
      properties:
        errors:
          $ref: '#/components/schemas/errors_bolt_api'
        result:
          $ref: '#/components/schemas/request_result'
      type: object
    errors_oauth_server_response:
      properties:
        error:
          type: string
        error_description:
          type: string
      type: object
    estimated_delivery_date:
      description: The estimated delivery date.
      example: 08-30-2022
      type: string
    event:
      description: The kind of event.
      enum:
        - order.create
        - order.shipping_and_tax
        - cart.create
        - cart.update
        - discounts.code.apply
        - example.see.enums
      example: example.see.enums
      type: string
    event_group_create_webhook:
      allOf:
        - $ref: '#/components/schemas/base_create_webhook'
        - type: object
      properties:
        event_group:
          $ref: '#/components/schemas/webhook_event_group'
    events_array_create_webhook:
      allOf:
        - $ref: '#/components/schemas/base_create_webhook'
        - type: object
      properties:
        events:
          description: |
            If `webhook_event_group` is null, pick a list of notification events to subscribe to.
          items:
            $ref: '#/components/schemas/webhooks_type'
          type: array
    expedited:
      description: True if shipment is expedited.
      example: false
      type: boolean
    external_data:
      description: 'For Shopify users only; otherwise, is empty.'
      properties:
        shopify:
          $ref: '#/components/schemas/shopify'
      type: object
    first_name:
      description: The person's first name.
      example: Charlotte
      type: string
    from_consumer:
      description: The credit card user. **Nullable** for Transactions Details.
      properties:
        email_verified:
          $ref: '#/components/schemas/consumer_email_verified'
        emails:
          $ref: '#/components/schemas/emails'
        first_name:
          $ref: '#/components/schemas/first_name'
        id:
          description: The card-holder's ID. **Nullable** for Transactions Details.
          example: AB3rJKam5DhYE
          type: string
        last_name:
          $ref: '#/components/schemas/last_name'
        phones:
          $ref: '#/components/schemas/phones_with_country_code'
        platform_account_status:
          $ref: '#/components/schemas/consumer_platform_account_status'
        user_membership:
          $ref: '#/components/schemas/consumer_user_membership'
      required:
        - id
        - emails
        - email_verified
        - user_membership
      type: object
    from_credit_card:
      description: A credit card.
      properties:
        billing_address:
          $ref: '#/components/schemas/consumer_billing_address'
        bin:
          $ref: '#/components/schemas/card_bin'
        display_network:
          $ref: '#/components/schemas/card_network'
        expiration:
          $ref: '#/components/schemas/card_expiration'
        icon_asset_path:
          $ref: '#/components/schemas/icon_asset_path'
        id:
          $ref: '#/components/schemas/card_id'
        last4:
          $ref: '#/components/schemas/card_last4'
        network:
          $ref: '#/components/schemas/card_network'
        priority:
          $ref: '#/components/schemas/priority'
        status:
          $ref: '#/components/schemas/card_status'
        token_type:
          $ref: '#/components/schemas/card_token_type'
      required:
        - id
        - last4
        - bin
        - expiration
        - network
        - token_type
        - priority
        - display_network
        - icon_asset_path
        - status
      type: object
    funding_instrument_id:
      description: ID of the funding instrument used.
      format: int64
      type: integer
    gift_option_view:
      description: Defines which gift options are hidden.
      properties:
        hide_gift_message:
          example: false
          type: boolean
        hide_gift_wrap:
          example: false
          type: boolean
      type: object
    gift_options:
      description: Contains the gift option settings for wrapping and custom messages.
      properties:
        message:
          $ref: '#/components/schemas/gift_options_message'
        wrap:
          $ref: '#/components/schemas/gift_options_wrap'
      type: object
    gift_options_message:
      description: Includes the gift message written by the shopper.
      example: 'Happy Anniversary, Smoochy Poo!'
      type: string
    gift_options_wrap:
      description: Defines whether gift wrapping was requested.
      example: false
      type: boolean
    gtin:
      description: The product's GTIN.
      example: AB3rJKam5DhYE
      type: string
    has_bolt_account:
      description: Determines if user has a Bolt account using their e-mail address or phone number.
      example: true
      type: boolean
    has_dynamic_price:
      description: Determines if item has dynamic price.
      example: true
      type: boolean
    height:
      description: The height.
      example: 103
      type: integer
    hide_apm:
      description: Hides alternative payment methods from checkout.
      enum:
        - amazonpay
        - affirm
        - afterpay
        - paypal
        - klarna
        - radialpaypal
      type: string
    hide_apms:
      items:
        $ref: '#/components/schemas/hide_apm'
      type: array
    hosted_payments_response:
      properties:
        x_account_id:
          type: string
        x_amount:
          type: string
        x_currency:
          example: USD
          type: string
        x_gateway_reference:
          type: string
        x_message:
          type: string
        x_reference:
          type: string
        x_result:
          enum:
            - completed
            - failed
            - pending
          type: string
        x_signature:
          type: string
        x_test:
          type: string
        x_timestamp:
          type: string
      required:
        - x_account_id
        - x_amount
        - x_currency
        - x_gateway_reference
        - x_reference
        - x_result
        - x_signature
        - x_test
        - x_timestamp
      type: object
    i_authorize_result_view:
      properties:
        did_create_bolt_account:
          type: boolean
        order_number:
          type: string
        transaction:
          $ref: '#/components/schemas/transaction_view'
      type: object
    i_cart_discount_view:
      properties:
        amount:
          $ref: '#/components/schemas/amount_view'
        code:
          description: Discount code used.
          example: SUMMER10
          type: string
        description:
          description: Used to define the discount offering.
          example: 10% off our summer collection
          maxLength: 1024
          type: string
        details_url:
          description: 'Used to provide a link to additional details, such as a landing page, associated with the discount offering.'
          example: 'https://boltswagstore.com/SUMMERSALE'
          type: string
        discount_category:
          enum:
            - coupon
            - giftcard
            - managed_giftcard
            - store_credit
            - automatic_promotion
            - membership_discount
            - membership_giftcard
            - subscription_discount
            - rewards_discount
            - unknown
          type: string
        free_shipping:
          $ref: '#/components/schemas/i_free_shipping_discount_view'
[...]
