<!-- tabs/tabContent.html -->
{{$val1 := .Get "val1" | lower }}
{{$val2 := .Get "val2" | lower}}
{{$val3 := .Get "val3" | lower}}
{{$val4 := .Get "val4" | lower}}
{{$val5 := .Get "val5" | lower}}
{{$val6 := .Get "val6" | lower}}
{{$val7 := .Get "val7" | lower}}

{{$answer := $val1}}

{{ with $val2 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}

{{ with $val3 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}

{{ with $val4 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}

{{ with $val5 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}

{{ with $val6 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}

{{ with $val7 }}
    {{$answer = printf "%s/%s" $answer .}}
{{ end }}


<div class="p-2 mb-2" data-tabcontent="{{$answer}}" >
    {{- .Inner | markdownify -}}
</div>



