
<section id="quick-install" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-8 pb-6">
    <div class="rounded-lg shadow-md p-4 tile transition duration-300 space-y-2">
        <img src="icons/star.svg" alt="" class="w-5 h-5 icon">
        <div class="text-xl text-black font-brand-bold font-semibold">Resources</div>
        <p class="text-zinc-900 text-sm font-brand-thin">Check out our repo or read the latest release notes.</p>
        <div class="flex flex-row space-x-2">
            <a href="https://github.com/lbliii/milodocs" class="text-xs text-black font-thin bg-white p-1 rounded hover:text-white bg-white hover:bg-brand hover:transition hover:duration-300">GitHub Repo</a> 
            <a href="/release-notes" class="text-xs text-black font-thin bg-white p-1 rounded hover:text-white bg-white hover:bg-brand hover:transition hover:duration-300">Release Notes</a>
        </div>
            
    </div>
    <div class="rounded-lg shadow-md p-4 tile transition duration-300 space-y-2">
        <img src="icons/navigation.svg" alt="" class="w-5 h-5 icon">
        <div class="text-xl text-black font-brand-bold font-semibold">Example Tile</div>
        <p class="text-zinc-900 text-sm font-brand-thin">Put whatever you want here.</p>
    </div>
</section>