
<section class="quicklinks quicklinks--home" data-component="home-quicklinks">
    <div class="quicklinks__grid">
        <div class="quicklinks__item">
            <div class="quicklinks__header">
                <img src="/icons/light/star.svg" alt="" class="icon quicklinks__icon">
                <h3 class="quicklinks__title">Resources</h3>
            </div>
            <p class="quicklinks__description">Check out our repo or read the latest release notes.</p>
            <div class="quicklinks__actions">
                <a href="https://github.com/lbliii/milodocs" class="quicklinks__link">
                    GitHub Repo
                </a> 
                <a href="/release-notes" class="quicklinks__link">
                    Release Notes
                </a>
            </div>
        </div>
        
        <div class="quicklinks__item">
            <div class="quicklinks__header">
                <img src="/icons/light/navigation.svg" alt="" class="icon quicklinks__icon">
                <h3 class="quicklinks__title">Example Tile</h3>
            </div>
            <p class="quicklinks__description">Put whatever you want here.</p>
        </div>
    </div>
</section>