<div id="chatContainer" class="hidden sticky top-16 h-[calc(100vh-5rem)] flex flex-col flex justify-end" data-component="article-chat">
    <div id="chat-messages" class="flex flex-col overflow-y-auto text-base">
    </div>
    <div id="chat-controls" class="flex flex-row text-xs mt-2">
        <form id="chat-form" class="flex flex-row">
            <input id="question" type="text" aria-label="Question Input" placeholder="Ask the docs" class="chat-input flex-grow mr-2" />
            <button id="sendButton" aria-label="Send" class="btn btn--primary">
                <img src="/icons/send.svg" alt="Send" class="btn__icon">
                Send
            </button>
        </form>
        <button id="clearAll" aria-label="Delete All" class="btn btn--danger">
            <img src="/icons/delete.svg" alt="Delete" class="btn__icon">
            Clear
        </button>
    </div>
</div>