{{/* Enhanced metadata section component */}}
{{- if or .Date .Params.author .ReadingTime .Lastmod .PublishDate .WordCount -}}
  <div class="enhanced-metadata" data-component="article-metadata">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">
      {{/* Date information */}}
      <div class="space-y-2">
        {{- with .Date -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
            </svg>
            <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
              Created: {{ .Format "January 2, 2006" }}
            </time>
          </div>
        {{- end -}}
        
        {{- with .PublishDate -}}{{- if ne (.Format "2006-01-02") ($.Date.Format "2006-01-02") -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path>
            </svg>
            <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
              Published: {{ .Format "January 2, 2006" }}
            </time>
          </div>
        {{- end -}}{{- end -}}
        
        {{- with .Lastmod -}}{{- if ne (.Format "2006-01-02") ($.Date.Format "2006-01-02") -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd"></path>
            </svg>
            <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
              Updated: {{ .Format "January 2, 2006" }}
            </time>
          </div>
        {{- end -}}{{- end -}}
      </div>
      
      {{/* Author and reading information */}}
      <div class="space-y-2">
        {{- with .Params.author -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
            </svg>
            <span>By {{ . }}</span>
          </div>
        {{- end -}}
        
        {{- with .ReadingTime -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path>
            </svg>
            <span>{{ . }} min read</span>
          </div>
        {{- end -}}
        
        {{- with .WordCount -}}
          <div class="metadata-item">
            <svg class="metadata-icon" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 0v12h8V4H6z" clip-rule="evenodd"></path>
            </svg>
            <span>{{ . }} words</span>
            {{- if $.Truncated }} <span class="text-orange-600">(summary truncated)</span>{{ end }}
          </div>
        {{- end -}}
      </div>
    </div>
  </div>
{{- end -}}