<section id="articleSummarizationContainer" class="hidden border border-dotted m-4 p-4 rounded-md transition-opacity duration-500" data-component="article-summarization">
    <h2 class="text-3xl font-bold text-text-primary mb-4">Article Summarization</h2>
    <div id="articleSummaryOutput" class="flex items-center justify-center p-4 my-4 bg-zinc-100 rounded-md text-text-primary text-sm transition-all duration-300 ease-in-out">
        <div class="animate-spin h-5 w-5 mr-3 border-4 border-brand rounded-full border-t-transparent"></div>
        <p id="generationMessage">Generating summary...</p>
    </div>
</section>
