{{- if .Params.notebook_path -}}
    {{- $notebookPath := .Params.notebook_path -}}
    {{- with resources.Get $notebookPath -}}
        {{- $resource := . -}}
        {{- $content := $resource.Content | safeHTML -}}
        {{- with $content | transform.Unmarshal -}}
            {{- $decodedNotebook := . -}}
            <div id="tocContainer" class="hidden toc-sidebar sticky top-20 h-[calc(100vh-6rem)] overflow-y-auto transition-all duration-300">
                <nav id="TableOfContents">
                    <ul>
                        {{- template "toc-items" (dict "level" 1 "items" $decodedNotebook.cells) -}}
                    </ul>
                </nav>
            </div>
        {{- end -}}
    {{- end -}}
{{- else -}}
    <div id="tocContainer" class="hidden toc-sidebar sticky top-20 h-[calc(100vh-6rem)] overflow-y-auto transition-all duration-300"> 
        {{ .TableOfContents }}
    </div>
{{- end -}}