{{- if .Params.notebook_path -}}
    {{- $notebookPath := .Params.notebook_path -}}
    {{- with resources.Get $notebookPath -}}
        {{- $resource := . -}}
        {{- $content := $resource.Content | safeHTML -}}
        {{- with $content | transform.Unmarshal -}}
            {{- $decodedNotebook := . -}}
            <div id="tocContainer" class="hidden toc flex-1 overflow-y-auto transition-all duration-300" data-component="article-toc" aria-hidden="true">
                <nav id="TableOfContents" class="toc__nav" data-component="article-toc">
                    <ul>
                        {{- template "toc-items" (dict "level" 1 "items" $decodedNotebook.cells) -}}
                    </ul>
                </nav>
            </div>
        {{- end -}}
    {{- end -}}
{{- else -}}
    <div id="tocContainer" class="hidden toc flex-1 overflow-y-auto transition-all duration-300" data-component="article-toc" aria-hidden="true"> 
        <nav id="TableOfContents" class="toc__nav" data-component="article-toc">
            {{ .TableOfContents }}
        </nav>
    </div>
{{- end -}}