{{ $type := .Get 0 | default "info" }}
{{ $title := .Get 1 }}
<div class="notice notice--{{ $type }} group" 
     data-notice-type="{{ $type }}"
     role="alert"
     aria-live="polite">
      <div class="notice__container">
    <div class="notice__icon-wrapper">
           <img src="/icons/notice/
            {{- with $type}}
                {{- if eq . "danger" -}} danger
                {{- else if eq . "warning" -}} warning
                {{- else if eq . "security" -}} security
                {{- else if eq . "info" -}} info
                {{- else if eq . "note" -}} note
                {{- else if eq . "tip" -}} tip 
                {{- else if eq . "snack" -}} snack 
                {{- end -}}
            {{- end -}}
           .svg" class="notice__icon" alt="{{ $type | title }} notice">
        </div>
            <div class="notice__content">
      {{- if $title -}}
        <div class="notice__title">{{ $title }}</div>
      {{- end -}}
      <div class="notice__text">
                {{ $.Page.RenderString .Inner }}
            </div>
        </div>
    </div>
</div>